body { font-family: Verdarna,Arial,Helvetica,sans-serif; font-size: 12px; }

h2, h6 { margin-bottom: 15px; }

h1, h2, h3 { font-size: 28px; }

h2 { margin-bottom: 35px; }

h3 { margin-bottom: 15px; }

p { line-height: 1.5; }

@media (min-width: 499px) { h1 { font-size: 48px; }
  h2 { font-size: 36px; }
  h3 { font-size: 30px; }
  .splashIMG #pageHeader { padding: 55px 0 0 55px; }
  .splashIMG #pageHeader h1 { font-size: 62px; }
  .splashIMG #pageHeader h1.colorWhite { color: #fff; text-shadow: 0 0 8px #878787; }
  .splashIMG #pageHeader p { font-size: 18px; }
  .splashIMG { background-position: center -90px; background-repeat: no-repeat; height: 450px; padding: 0; }
  #splHomePage #tryUs { position: absolute; left: 55px; top: 270px; }
  #pageHeader .btn { margin-top: 40px; }
  #splHomePage { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_homepage.jpg"); }
  #splFoodAndExercise { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_benefits.jpg"); }
  #splPrices { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_prices.jpg"); }
  #splMobile { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_devices.jpg"); }
  #splSuccesses { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_successes.jpg"); }
  #splExpertHelp { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_experthelp.jpg"); }
  #splNutrientTracking { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_nutrients.jpg"); }
  #splNutrientTrackingSport { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_nutrienttracking.jpg"); }
  #splMembersSay { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_landing.jpg"); }
  #splRejoin { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_rejoinnutracheck.jpg"); }
  #splRejoinFitBit { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_rejoinnutracheckfitbit.jpg"); }
  #splKeepTheWeightOff { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_weightoff.jpg"); }
  #splPortionSizes { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_portionsizes.jpg"); }
  #splAllNewApp { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_allnewapp.jpg"); }
  #splNutratech { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_nutratech.jpg"); }
  #splExerciseVideos { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/splash_exercisevideos.jpg"); } }
@media (min-width: 998px) { .splashIMG #pageHeader { padding-top: 145px; }
  .splashIMG { height: 540px; background-position: center 0; }
  #splHomePage #tryUs { top: 360px; } }
#splPrices.splashIMG #pageHeader h1, #splPrices.splashIMG #pageHeader p { float: left; }

#splPrices.splashIMG #pageHeader p { margin: 18px 0 0 18px; }

h2.comparePricesHdr { text-align: center; margin-top: 20px; margin-bottom: 20px; }

.priceComparisonContainer { margin: 0 auto 0 auto; max-width: 300px; }

.tblPriceComparison { width: 100%; }

.tblPriceComparison td { padding: 2px 0 2px 0; color: #000; font-size: 16px; }

.tblPriceComparison td.price_divider { padding-right: 4px; }

p.prices_checked { margin: 10px 0 20px 0; font-size: 13px; color: #000; text-align: center; }

.contentRow { padding: 25px 20px 25px 20px; }

.quarteredBox .contentStretch { padding: 25px 20px 25px 20px; }

.vMargin { margin-top: 20px; margin-bottom: 20px; }

.vMarginHalf { margin-top: 10px; margin-bottom: 10px; }

.hMargin { margin-left: 20px; margin-right: 20px; }

.bottomMargin { margin-bottom: 20px; }

.topMargin { margin-top: 20px; }

.bottomHalfMargin { margin-bottom: 10px; }

.boxLarge { background-color: #fff; padding: 20px; border-radius: 3px; border: 1px solid #b4b4b4; }

.boxSmall { border-radius: 3px; padding: 15px; }

.featuredSuccussStory { border: 4px solid #378bb9; border-radius: 48px; padding: 18px; }

.featuredSuccussStory h2 { font-size: 56px; margin-bottom: 24px; }

#lifeChangingTransformations .col-sm-4 { padding-left: 29px; padding-right: 29px; }

#membersRecommend { font-size: 24px; text-align: center; padding: 10px 10px 6px 10px; color: #fff; }

#membersRecommend img { vertical-align: text-top; }

#membersRecommend a { color: #fff; }

#membersRecommend #reviewcount { font-size: 18px; color: #fff; font-weight: normal; white-space: nowrap; }

#membersRecommend #imgStars { width: 195px; }

#membersRecommend #imgRC { width: 143px; margin: 4px 0 0 14px; }

#membersRecommend #reviewAve { display: block; margin-bottom: 18px; }

#memberOptionsTable h2 { text-align: center; }

#memberOptionsTable .renewal { margin: 20px 0 60px 0; }

#memberOptionsTable .signupBtns { text-align: center; }

#includedWithMembership { width: 100%; }

#includedWithMembership td { background-color: #fff; border-bottom: 2px solid #b4b4b4; padding: 10px 25px 8px 25px; font-size: 18px; }

#includedWithMembership th { font-size: 24px; padding: 15px 25px 10px 25px; }

#includedWithMembership tr.noBorder td { border-bottom: none; }

#priceComparisonTable { width: 100%; margin-bottom: 18px; }

#priceComparisonTable th { padding: 4px 0 8px 0; font-size: 14px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }

#priceComparisonTable td { padding-top: 8px; padding-bottom: 4px; text-align: center; font-size: 12px; border-left: 1px solid #ccc; }

#priceComparisonTable th:first-child, #priceComparisonTable td:first-child { text-align: left; border-left: none; }

tr.comparisonRow td.pcompPrice, tr.comparisonRow td.pcompPeriod, tr.comparisonRow td.pcompPPW { white-space: nowrap; padding-left: 4px; padding-right: 4px; }

.equivPrice { font-size: 12px; }

.successStories h4 { margin-top: 20px; }

#caseStudy h6 { margin: 20px 0 10px 0; }

#profileInputs { max-width: 300px; margin: 0 auto 0 auto; }

#profileInputs .control-label { padding-top: 10px; }

#profileInputs .control-label span { display: inline-block; margin: 0; }

#profileInputs .form-control { width: 55px; }

#bmi1, #bmi2 { padding-bottom: 18px; }

#weeklyWeightLoss { margin: 0 -20px 0 -20px; }

#weeklyWeightLoss input { width: 1.5em; height: 1.5em; }

#weeklyWeightLoss span { margin: 5px 8px 0 0; display: inline-block; }

#weeklyWeightLoss .radio-inline:last-child span { margin-right: 0; }

#aboutMe .checkbox { margin-bottom: 10px; }

#aboutMe input { height: 20px; width: 20px; }

#aboutMe span { padding-left: 8px; display: inline-block; }

.nut_fullWidthPanelSM h6 { margin-left: 18px; }

.displayIos, .displayAndroid { display: none; }

.privacyContent { margin-bottom: 40px; }

.privacyContent a { text-decoration: underline; }

.privacyContent li { margin-bottom: 18px; font-size: 16px; font-weight: 600; }

.privacyContent li p { margin: 10px 0 0 0; font-size: 14px; font-weight: normal; line-height: 17.5px; }

.privacyContent li ol { margin-top: 10px; padding-left: 0; margin-left: 12px; }

.privacyContent li ol li { list-style-type: lower-roman; margin: 0 0 8px 10px; font-size: 14px; font-weight: normal; padding-left: 0; }

.privacyContent li ol li p { padding-left: 0; }

.privacyContent h2 { font-family: primaryNormal; text-align: center; }

.bmrBox { font-size: 15px; text-align: center; padding: 8px 6px 8px 6px; border: 1px solid #ccc; border-radius: 6px; color: #fff; background-color: #378bb9; font-weight: bold; display: block; }

.bmrDescription { font-size: 13px; }

.bmrSymbol { font-weight: bold; font-size: 20px; }

#exerciseFilter { background-color: #ececec; margin-bottom: 20px; }

#exerciseFilter ul { list-style: none; margin: 0; padding: 0; }

#exerciseFilter li { text-align: center; font-size: 14px; }

#exerciseFilter li a { text-decoration: none; display: block; padding: 10px 20px 10px 20px; color: #303030; }

#exerciseFilter li a.selected { background-color: #fff; }

#exerciseFilter li a:hover { background-color: #fff; }

#exerciseFilter li a:active { background-color: #fff; }

#exerciseFilter .navbar-header div { padding: 18px; }

.exerciseIntroContent { display: none; }

.exerciseIntroContent p { font-size: 15px; }

.exerciseIntro h2 { font-size: 18px; margin: 20px 0 10px 0; }

#exerciseIntro2045 #exerciseIntroContent2045 { display: block !important; }

#exerciseIntro2046 #exerciseIntroContent2046 { display: block !important; }

#exerciseIntro2047 #exerciseIntroContent2047 { display: block !important; }

#exerciseIntro2048 #exerciseIntroContent2048 { display: block !important; }

#exerciseIntro2049 #exerciseIntroContent2049 { display: block !important; }

#exerciseIntro2050 #exerciseIntroContent2050 { display: block !important; }

#exerciseIntro2051 #exerciseIntroContent2051 { display: block !important; }

#exerciseIntro2052 #exerciseIntroContent2052 { display: block !important; }

#exerciseIntro2053 #exerciseIntroContent2053 { display: block !important; }

#exerciseIntro2054 #exerciseIntroContent2054 { display: block !important; }

.exerciseVideoLink { display: block; border-bottom: 1px solid #ebf3f8; padding-bottom: 18px; margin-bottom: 18px; }

.exerciseVideoLink img { float: left; }

#exerciseVideoContent { padding: 0 18px 40px 18px; }

.exname div { padding-bottom: 20px; font-weight: bold; font-size: 14px; }

.exerciseThumb { width: 100%; }

.prices_membershipPanel { border: 2px solid #325B7D; border-radius: 45px; height: 90px; margin: 40px 0 40px 0; font-family: primaryNormal; font-weight: normal !important; font-style: normal; background-color: #fff; }

.prices_membershipPanel.prices_offerPanel { border-color: #CD1719; background-color: #CD1719; }

.prices_membershipPanel.prices_offerPanel .prices_membershipRenews { color: #fff; }

.prices_membershipPanel.prices_offerPanel .prices_membershipPrice { color: #fff; }

.prices_membershipPanel.prices_offerPanel .prices_membershipPlatform { color: #fff; text-transform: uppercase; }

.prices_membershipPanel .prices_membershipPlatform .mhide { display: none; }

.prices_membershipPanel.prices_membershipPanelExpanded { height: auto; border-radius: 45px; padding-bottom: 20px; }

.prices_bestValueExtra { display: none; font-family: primaryNormal; font-weight: normal !important; font-style: normal; }

.prices_membershipInfo { padding-top: 20px; display: none; }

.prices_membershipPanelExpanded .prices_membershipInfo { display: block; }

.prices_membershipInfo ul { list-style: none; padding: 0 20px 0 20px; margin-bottom: 30px; }

.prices_membershipInfo li { margin: 0 0 14px 0; }

.prices_membershipInfo .prices_bullet { height: 40px; width: 40px; display: inline-block; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/sprites/pricespage_icons_v5.png") no-repeat; background-size: 80px 480px; float: left; }

.prices_offerPanel .prices_bullet .colorPrimaryDarker { color: #fff; }

.prices_membershipInfo #iconApp { background-position: -40px -2px; }

.prices_membershipInfo #iconReports { background-position: -40px -362px; }

.prices_membershipInfo #iconMeals { background-position: -40px -440px; }

.prices_membershipInfo #iconSupport { background-position: -40px -200px; }

.prices_membershipInfo #iconCustom { background-position: -40px -124px; }

.prices_membershipInfo #iconWeighin { background-position: -40px -323px; }

.prices_membershipInfo #iconUnlimited { background-position: -40px -40px; }

.prices_membershipInfo #iconFoodDB { background-position: -40px -240px; }

.prices_membershipInfo #iconExerciseDB { background-position: -40px -80px; }

.prices_membershipInfo #iconNoAds { background-position: -40px -280px; }

#prices_bestValuePanel .prices_membershipInfo #iconApp, .prices_offerPanel .prices_membershipInfo #iconApp { background-position: 0 -2px; }

#prices_bestValuePanel .prices_membershipInfo #iconReports, .prices_offerPanel .prices_membershipInfo #iconReports { background-position: 0 -362px; }

#prices_bestValuePanel .prices_membershipInfo #iconMeals, .prices_offerPanel .prices_membershipInfo #iconMeals { background-position: 0 -440px; }

#prices_bestValuePanel .prices_membershipInfo #iconSupport, .prices_offerPanel .prices_membershipInfo #iconSupport { background-position: 0 -200px; }

#prices_bestValuePanel .prices_membershipInfo #iconCustom, .prices_offerPanel .prices_membershipInfo #iconCustom { background-position: 0 -124px; }

#prices_bestValuePanel .prices_membershipInfo #iconWeighin, .prices_offerPanel .prices_membershipInfo #iconWeighin { background-position: 0 -323px; }

#prices_bestValuePanel .prices_membershipInfo #iconUnlimited { background-position: 0 -40px; }

#prices_bestValuePanel .prices_membershipInfo #iconFoodDB { background-position: 0 -240px; }

#prices_bestValuePanel .prices_membershipInfo #iconExerciseDB { background-position: 0 -80px; }

#prices_bestValuePanel .prices_membershipInfo #iconNoAds { background-position: 0 -280px; }

.prices_membershipInfo .prices_feature { display: table-cell; color: #325B7D; font-size: 16px; height: 30px; vertical-align: middle; padding-left: 14px; }

.prices_membershipDescription { float: left; padding: 10px 0 0 10px; }

#prices_bestValuePanel .prices_membershipDescription { padding: 10px 0 0 2px; }

.prices_membershipLengthRoundal { height: 86px; width: 86px; border-radius: 50%; background-color: #325B7D; color: #fff; margin: 0 0 0 -1px; text-align: center; font-size: 18px; padding-top: 4px; float: left; }

.prices_membershipLengthRoundal .prices_roundalMonth { font-size: 40px; font-weight: bold; display: block; line-height: 38px; padding-top: 4px; }

.prices_membershipLength { display: none; }

.prices_membershipPlatform { font-size: 13px; color: #325B7D; }

.prices_membershipPrice { font-size: 18px; line-height: 30px; color: #325B7D; display: inline-block; }

.prices_membershipRenews { font-size: 14px; color: #325B7D; }

.prices_moreInfo { float: right; height: 50px; width: 50px; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/sprites/moreinfo3.png"); background-size: 50px 200px; background-position: 0 0; margin: 18px 10px 0 0; }

.prices_membershipPanelExpanded .prices_moreInfo { background-position: 0 -50px; }

.prices_loginhere { display: block; text-align: center; font-size: 14px; color: #325B7D; margin: 10px 0 10px 0; }

.prices_membershipSaving { display: none; }

.prices_membershipWas { display: inline-block; font-size: 13px; text-decoration: line-through; color: #fff; }

.prices_signup { text-align: center; }

#prices_bestValuePanel { background: #ff9305; background: -moz-linear-gradient(180deg, #ff9305 0%, #fecc14 100%); background: -webkit-linear-gradient(180deg, #ff9305 0%, #fecc14 100%); background: linear-gradient(180deg, #ff9305 0%, #fecc14 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF9305",endColorstr="#FECC14",GradientType=1); padding: 10px 18px 10px 18px; border-radius: 20px; margin-top: 40px; }

#prices_bestValuePanel .prices_bestValueExtra { display: table; margin: 0 auto 0 auto; }

#prices_bestValuePanel .prices_bestValueExtra .textMedium { font-size: 12px; }

#prices_bestValuePanel .prices_loginhere, .prices_offerPanel .prices_loginhere { color: #fff; }

#prices_bestValuePanel .prices_membershipPanel { border: 2px solid #CD1719; background-color: #CD1719; color: #fff; margin: 0 0 10px 0; }

#prices_bestValuePanel .prices_membershipLengthRoundal, .prices_offerPanel .prices_membershipLengthRoundal { background-color: #fff; border: 2px solid #fff; color: #CD1719; }

#prices_bestValuePanel .prices_membershipPlatform { color: #fff; }

#prices_bestValuePanel .prices_membershipPrice { color: #fff; }

#prices_bestValuePanel .prices_membershipRenews { color: #fff; }

#prices_bestValuePanel .prices_moreInfo, .prices_offerPanel .prices_moreInfo { background-position: 0 -100px; }

#prices_bestValuePanel .prices_feature, .prices_offerPanel .prices_feature { color: #fff; }

.prices_offerPanel .prices_feature .colorPrimaryDarker { color: #fff; }

#prices_bestValuePanel .prices_membershipPanelExpanded .prices_moreInfo, .prices_offerPanel.prices_membershipPanelExpanded .prices_moreInfo { background-position: 0 -150px; }

.prices_bestValue { color: #fff; float: left; font-size: 22px; display: table; margin: 0 auto 0 auto; }

.prices_bestValueSaving { color: #CD1719; float: left; font-size: 20px; margin-top: -4px; }

.prices_bestValueSaving strong { font-size: 54px; padding-left: 5px; }

.prices_membershipPanel .btn.btn-lg { font-size: 20px; padding: 6px 36px 6px 36px; }

@media (min-width: 321px) { .prices_membershipPrice { font-size: 32px; }
  #prices_bestValuePanel .prices_bestValueExtra .textMedium { font-size: 14px; }
  .prices_membershipDescription { float: left; padding: 10px 0 0 8px; }
  .prices_bestValue { font-size: 22px; }
  .prices_bestValueSaving { font-size: 24px; }
  .prices_bestValueSaving strong { font-size: 54px; }
  .prices_membershipPlatform { font-size: 16px; }
  .prices_moreInfo { margin: 18px 20px 0 0; } }
@media (min-width: 375px) { .prices_membershipPanel { height: 102px; border-radius: 50px; }
  .prices_membershipDescription { padding: 15px 0 0 18px; }
  .prices_bestValue { font-size: 26px; }
  .prices_bestValueSaving { font-size: 28px; margin-top: -5px; }
  .prices_bestValueSaving strong { font-size: 63px; }
  .prices_membershipPanel.prices_membershipPanelExpanded { border-radius: 50px; }
  .prices_membershipPlatform { font-size: 16px; }
  .prices_moreInfo { margin: 23px 20px 0 0; }
  .prices_membershipLengthRoundal { height: 100px; width: 100px; margin: -1px 0 0 -2px; }
  .prices_membershipLengthRoundal .prices_roundalMonth { font-size: 55px; line-height: 45px; padding-top: 12px; }
  #prices_bestValuePanel .prices_membershipPanel { margin-top: 0; }
  #prices_bestValuePanel .prices_membershipDescription { padding: 14px 0 0 6px; }
  #prices_bestValuePanel .prices_moreInfo { margin: 24px 10px 0 0; } }
@media (min-width: 414px) { .prices_membershipPanel { height: 110px; border-radius: 55px; }
  .prices_membershipDescription { padding: 28px 0 0 18px; }
  .prices_bestValue { font-size: 30px; }
  .prices_membershipLengthRoundal { height: 108px; width: 108px; margin: -1px 0 0 -2px; }
  .prices_membershipLengthRoundal .prices_roundalMonth { font-size: 55px; line-height: 45px; padding-top: 12px; }
  .prices_moreInfo { margin: 28px 18px 0 0; }
  .prices_membershipPanel.prices_membershipPanelExpanded { border-radius: 55px; }
  .prices_bestValueSaving { font-size: 28px; margin-top: -14px; }
  .prices_bestValueSaving strong { font-size: 84px; }
  #prices_bestValuePanel .prices_membershipDescription { padding: 28px 0 0 18px; } }
@media (min-width: 499px) { .nut_fullWidthPanelSM h6 { margin-left: 0; }
  .contentRow { padding: 50px 40px 50px 40px; }
  .vMargin { margin-top: 40px; margin-bottom: 40px; }
  .vMarginHalf { margin-top: 20px; margin-bottom: 20px; }
  .hMargin { margin-left: 40px; margin-right: 40px; }
  .bottomMargin { margin-bottom: 40px; }
  .topMargin { margin-top: 40px; }
  .bottomHalfMargin { margin-bottom: 20px; }
  .selectMemberShip h2 { margin-top: 17px; }
  .quarteredBox .contentStretch { background: linear-gradient(90deg, #fff 50%, #f1f6fa 50%); padding-left: 40px; padding-right: 40px; }
  .quarteredBox .contentStretch:nth-child(even) { background: linear-gradient(90deg, #f1f6fa 50%, #fff 50%); padding-bottom: 50px; }
  .quarteredBox .contentStretch { padding-top: 40px; }
  .quarteredBox .col-sm-6 { padding-right: 40px; }
  .quarteredBox .row { margin-left: 0; margin-right: 0; }
  .quarteredBox .col-sm-6:nth-child(even) { background-color: transparent; padding-right: 0; padding-left: 40px; }
  .quarteredBox p { padding-left: 0 !important; }
  #memberOptionsTable h2 { text-align: left; margin-top: 15px; }
  #memberOptionsTable .btn { float: right; margin: 0; }
  #priceComparisonTable th { font-size: 18px; border: none; }
  #priceComparisonTable td { font-size: 15px; border: none; }
  .succesStories h4, .successStories h4 { margin-top: 30px; }
  .succesStories p, .successStories p { padding: 10px; min-height: 90px; }
  #membersRecommend #reviewAve { display: inline; margin: 0 20px 0 0; }
  #profileInputs { max-width: none; }
  #profileInputs .control-label span { margin: 5px 0 0 -15px; }
  #bmi1, #bmi2 { padding-bottom: 0; }
  #weeklyWeightLoss { margin: 0 auto 0 auto; }
  #weeklyWeightLoss input { width: 2em; height: 2em; }
  #weeklyWeightLoss span { margin-left: 8px; }
  #exclusiveOnlineExtras h3 { height: 66px; }
  #exclusiveOnlineExtras p { height: 185px; }
  #rejoinNutracheck { padding: 0 0 0 20px; margin-top: 30px; }
  #rejoinNutracheck h1 { margin-bottom: 20px; }
  #rejoinNutracheck table { margin-top: 20px; max-width: 415px; }
  #rejoinNutracheck input { margin-bottom: 15px; }
  .colPaddingSM { padding-left: 20px; padding-right: 20px; }
  .bmrContainer { width: 600px; margin: 0 auto 0 auto; }
  .bmrBox { font-size: 20px; padding: 16px 20px 16px 20px; border-radius: 12px; margin: 10px; }
  .bmrSymbol { font-size: 26px; }
  .bmrDescription { font-size: 15px; padding-top: 20px; }
  #exerciseFilter { height: 75px; padding-top: 10px; margin-bottom: 30px; }
  #exerciseFilter ul { list-style: none; margin: 0; height: 65px; }
  #exerciseFilter li { float: left; height: 65px; margin-right: 4px; }
  #exerciseFilter li:last-child { margin-right: 0; }
  #exerciseFilter li a { height: 65px; padding: 20px 10px 0 10px; }
  .exerciseContentWidth { margin: 0 auto 0 auto; width: 960px; }
  h3.vertAlign { display: table-cell; vertical-align: bottom; height: 75px; }
  .exerciseVideoLink { margin-left: 8%; }
  .prices_membershipPanel { height: auto; border-radius: 12px; display: block; min-height: 825px !important; position: relative; }
  .prices_membershipDescription, #prices_bestValuePanel .prices_membershipDescription { float: none; padding: 18px 0 0 0 !important; }
  .prices_membershipPlatform { font-weight: bold; text-transform: uppercase; font-size: 14px; float: none; margin: 10px auto 0 auto; background-color: #325B7D; color: #fff; width: 200px; border-radius: 20px; text-align: center; padding: 6px 0 6px 0; }
  .prices_membershipLength { display: block; text-align: center; font-size: 22px; color: #325B7D; font-weight: bold; margin: 15px 0 0 0; }
  .prices_membershipPrice { text-align: center; font-weight: bold; font-size: 56px; height: auto; line-height: normal; display: block; }
  .prices_membershipInfo { display: block; margin-bottom: 10px; }
  .prices_membershipInfo .prices_feature { color: #000; }
  .prices_membershipPanel .prices_membershipRenews { text-align: center; color: #325B7D; }
  .prices_membershipPanel.prices_offerPanel .prices_membershipRenews { text-align: center; color: #325B7D; }
  .prices_loginhere { position: absolute; bottom: 0; width: 100%; font-size: 16px; color: #325B7D; }
  .prices_membershipPanel.prices_offerPanel .prices_membershipLength { color: #CD1719; }
  .prices_membershipPanel.prices_offerPanel .prices_membershipPrice { color: #CD1719; }
  .prices_membershipPanel.prices_offerPanel .prices_membershipWas { color: #CD1719; display: block; font-size: 22px; text-align: center; text-decoration: none; }
  .prices_membershipPanel.prices_offerPanel .prices_membershipPlatform { background-color: #ebf3f8; color: #325B7D; }
  .prices_offerPanel .prices_membershipSaving { display: block; color: #fff; background-color: #CD1719; text-align: center; font-size: 34px; font-weight: bold; }
  .prices_offerPanel .prices_membershipWasPrice { text-decoration: line-through; }
  /*#prices_bestValuePanel{background:#fff;background-color:#fff;border-radius:0;padding:0;} #prices_bestValuePanel .prices_membershipPanel.prices_offerPanel{border-color:#CD1719;} #prices_bestValuePanel .prices_bestValueExtra{display:none;} #prices_bestValuePanel .prices_membershipPanel{background:#ebf3f8;background-color:#ebf3f8;border:2px solid #325B7D;}            #prices_bestValuePanel .prices_membershipPrice{color:#325B7D;} #prices_bestValuePanel .prices_membershipWas{color:#325B7D;display:block;text-align:center;} #prices_bestValuePanel .prices_membershipPanel.prices_offerPanel .prices_membershipWas{color:#CD1719;} #prices_bestValuePanel .prices_membershipPanel.prices_offerPanel .prices_membershipPrice{color:#CD1719;} #prices_bestValuePanel .prices_membershipPanel.prices_offerPanel .prices_membershipPlatform{background-color:#325B7D}           #prices_bestValuePanel .prices_membershipInfo .prices_feature{color:#000;} #prices_bestValuePanel .prices_membershipInfo #iconApp, .prices_offerPanel .prices_membershipInfo #iconApp{background-position:-40px -2px;} #prices_bestValuePanel .prices_membershipInfo #iconReports, .prices_offerPanel .prices_membershipInfo #iconReports{background-position:-40px -362px;} #prices_bestValuePanel .prices_membershipInfo #iconMeals, .prices_offerPanel .prices_membershipInfo #iconMeals{background-position:-40px -440px;} #prices_bestValuePanel .prices_membershipInfo #iconSupport, .prices_offerPanel .prices_membershipInfo #iconSupport{background-position:-40px -200px;} #prices_bestValuePanel .prices_membershipInfo #iconCustom, .prices_offerPanel .prices_membershipInfo #iconCustom{background-position:-40px -124px;} #prices_bestValuePanel .prices_membershipInfo #iconWeighin, .prices_offerPanel .prices_membershipInfo #iconWeighin{background-position:-40px -323px;} #prices_bestValuePanel .prices_membershipInfo #iconUnlimited, .prices_offerPanel .prices_membershipInfo #iconUnlimited{background-position:-40px -40px;} #prices_bestValuePanel .prices_membershipInfo #iconFoodDB, .prices_offerPanel .prices_membershipInfo #iconFoodDB{background-position:-40px -240px;} #prices_bestValuePanel .prices_membershipInfo #iconExerciseDB, .prices_offerPanel .prices_membershipInfo #iconExerciseDB{background-position:-40px -80px;} #prices_bestValuePanel .prices_membershipInfo #iconNoAds, .prices_offerPanel .prices_membershipInfo #iconNoAds{background-position:-40px -280px;}   */
  .prices_moreInfo, .prices_membershipLengthRoundal { display: none; }
  .prices_signup { position: absolute; bottom: 40px; width: 100%; }
  .colorPrimaryDarkerLg { color: #325B7D; }
  #prices_bestValuePanel .prices_membershipLength { display: none; }
  #prices_bestValuePanel .prices_membershipPanel { min-height: 660px !important; }
  #prices_bestValuePanel ul .colorPrimaryDarker { color: #fff; }
  #prices_bestValuePanel .prices_membershipLengthRoundal { display: block; }
  #prices_bestValuePanel .prices_membershipSaving { display: none; }
  #prices_bestValuePanel .prices_membershipPanel { border-radius: 60px 12px 12px 12px; } }
@media (min-width: 998px) { #rejoinNutracheck { margin-top: 120px; } }
@media (min-width: 1200px) { #profileInputs { padding-left: 140px; padding-right: 140px; }
  .exname { max-width: 340px; } }
#readreviewsbtn { margin-top: 15px; }

.memberBubble h5 { color: #8e1c8e; }

.memberBubble .reviewDate { margin-top: 4px; }

.userCaseStudy { padding: 0 20px 0 20px; clear: both; }

.userCaseStudy h1 { color: #378bb9; font-family: primaryNormal; text-align: center; font-size: 34px; margin: 30px 0 30px 0; }

.userCaseStudy h2 { color: #378bb9; font-family: primaryNormal; font-size: 18px; margin: 30px 0 5px 0; }

.userCaseStudy p { font-size: 15px; }

.userCaseStudy p:first-of-type { font-weight: bold; }

.userCaseStudy ol, .userCaseStudy ul { margin-left: 0; padding-left: 1.5em; margin-top: 20px; margin-bottom: 20px; }

.userCaseStudy li { font-size: 15px; margin-bottom: 10px; line-height: 1.5; }

.userCaseStudy #userStartWeight { text-align: center; font-size: 14px; display: block; }

.userCaseStudy #userStartWeight span, .userCaseStudy #userWeightLoss span, .userCaseStudy #userCurrentWeight span { display: block; }

.userCaseStudy #userStartWeight div { font-size: 24px; margin-bottom: 15px; font-weight: bold; }

.userCaseStudy #userWeightLoss { text-align: center; color: #9ac843; font-size: 24px; }

.userCaseStudy #userWeightLoss span { line-height: 24px; }

.userCaseStudy #userWeightLoss div { font-size: 38px; margin-bottom: 15px; font-weight: bold; }

.userCaseStudy #userCurrentWeight { text-align: center; font-size: 14px; }

.userCaseStudy #userCurrentWeight div { font-size: 24px; font-weight: bold; }

.userCaseStudy img { display: table; margin: 20px auto 20px auto; max-width: 100%; }

.userCaseStudy blockquote { clear: both; padding: 0; border: none; font-size: 18px; quotes: '\201C' '\201D'; position: relative; margin: 50px 0 50px 0; }

.userCaseStudy blockquote::before { content: open-quote; font-size: 80px; color: #378bb9; position: absolute; margin-top: -40px; left: 0; }

.userCaseStudy blockquote::after { content: close-quote; font-size: 80px; color: #378bb9; position: absolute; right: 0; margin-top: 5px; }

.weightLossDisclaimer { padding: 20px; font-size: 12px; }

.userCaseStudy ol.custom-counter { margin-left: 0px; padding-right: 0px; list-style-type: none; padding-left: 0px; }

.userCaseStudy ol.custom-counter li { counter-increment: step-counter; }

.userCaseStudy ol.custom-counter li::before { content: counter(step-counter); background: #378bb9; border-radius: 0.8em; -moz-border-radius: 0.8em; -webkit-border-radius: 0.8em; font-family: PrimaryBold; color: #ffffff; display: inline-block; line-height: 1.6em; margin-right: 5px; text-align: center; width: 1.6em; }

.userCaseStudy ol > li { position: relative; margin: 0 0 6px 20px; padding: 3px 0 4px 30px; list-style: none; min-height: 40px; }

.userCaseStudy ol > li:before { content: counter(li); counter-increment: li; position: absolute; top: 4px; left: -20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 35px; background-color: #378bb9; font-weight: bold; text-align: center; }

@media (min-width: 499px) { .userCaseStudy { width: 708px; padding: 0 50px 0 50px; margin: 0 auto 0 auto; }
  .userCaseStudy h1 { font-size: 66px; margin: 50px 0 50px 0; }
  .userCaseStudy #userStartWeight span, .userCaseStudy #userCurrentWeight span { padding-bottom: 8px; }
  .userCaseStudy #userWeightLoss strong, .userCaseStudy #userStartWeight strong { margin-bottom: 0; }
  .userCaseStudy #userWeightLoss span { margin-top: -6px; }
  .userCaseStudy blockquote { margin: 40px -50px 40px -50px; font-size: 24px; }
  .userCaseStudy blockquote::before { font-size: 90px; margin-top: -50px; }
  .userCaseStudy blockquote::after { font-size: 90px; margin-top: 10px; }
  .weightLossDisclaimer { padding: 40px 50px 20px 50px; font-size: 14px; text-align: center; }
  .userCaseStudy img:first-of-type { display: table; width: 450px; height: 580px; margin: 30px auto 30px auto; float: none !important; clear: both; } }
.timeline-img { margin-top: 10px; }

.timeline-img.pull-right { margin: 0 0 10px 10px; }

.timeline { list-style: none; padding: 20px 40px 20px 40px; position: relative; }

.timeline:before { top: 0; bottom: 0; position: absolute; content: " "; width: 3px; background-color: #eee; left: 50%; margin-left: -1.5px; }

.tldate { display: block; width: 200px; background: #378bb9; border: 3px solid #378bb9; color: #fff; margin: 0 auto; padding: 3px 0; font-weight: bold; text-align: center; -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.35); }

.timeline li { margin-bottom: 25px; position: relative; }

.timeline li:before, .timeline li:after { content: " "; display: table; }

.timeline li:after { clear: both; }

.timeline li:before, .timeline li:after { content: " "; display: table; }

/** timeline panels **/
.timeline li .timeline-panel { width: 46%; float: left; background: #fff; border: 1px solid #d4d4d4; padding: 20px; position: relative; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); }

/** panel arrows **/
.timeline li .timeline-panel:before { position: absolute; top: 26px; right: -15px; display: inline-block; border-top: 15px solid transparent; border-left: 15px solid #ccc; border-right: 0 solid #ccc; border-bottom: 15px solid transparent; content: " "; }

.timeline li .timeline-panel:after { position: absolute; top: 27px; right: -14px; display: inline-block; border-top: 14px solid transparent; border-left: 14px solid #fff; border-right: 0 solid #fff; border-bottom: 14px solid transparent; content: " "; }

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after { top: 0; right: 0; display: none; border: 0; }

.timeline li.timeline-inverted .timeline-panel { float: right; }

.timeline li.timeline-inverted .timeline-panel:before { border-left-width: 0; border-right-width: 15px; left: -15px; right: auto; }

.timeline li.timeline-inverted .timeline-panel:after { border-left-width: 0; border-right-width: 14px; left: -14px; right: auto; }

/** timeline circle icons **/
.timeline li .tl-circ { position: absolute; top: 23px; left: 50%; text-align: center; background: #ebf3f8; color: #fff; width: 35px; height: 35px; line-height: 35px; margin-left: -16px; border: 3px solid #378bb9; border-top-right-radius: 50%; border-top-left-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; z-index: 990; }

/** timeline content **/
.tl-heading h4 { margin-top: 0; }

.tl-body p:last-child { margin-bottom: 0; }

/** media queries **/
@media (max-width: 991px) { .timeline li .timeline-panel { width: 44%; } }
@media (max-width: 499px) { .timeline { padding: 20px 15px 20px 15px; }
  ul.timeline:before { left: 40px; }
  .tldate { width: 140px; }
  ul.timeline li .timeline-panel { width: calc(100% - 90px); width: -moz-calc(100% - 90px); width: -webkit-calc(100% - 90px); }
  ul.timeline li .tl-circ { top: 22px; left: 22px; margin-left: 0; }
  ul.timeline > li > .tldate { margin: 0; }
  ul.timeline > li > .timeline-panel { float: right; }
  ul.timeline > li > .timeline-panel:before { border-left-width: 0; border-right-width: 15px; left: -15px; right: auto; }
  ul.timeline > li > .timeline-panel:after { border-left-width: 0; border-right-width: 14px; left: -14px; right: auto; } }
.is-hidden { visibility: hidden; }

.bounce-in { visibility: visible; -webkit-animation: cd-bounce-2 0.6s; -moz-animation: cd-bounce-2 0.6s; animation: cd-bounce-2 0.6s; }

@media only screen and (min-width: 1200px) { /* inverse bounce effect on even content blocks */
  .timeline-entry:nth-child(even) .timeline-panel.bounce-in { -webkit-animation: cd-bounce-2-inverse 0.6s; -moz-animation: cd-bounce-2-inverse 0.6s; animation: cd-bounce-2-inverse 0.6s; } }
@-webkit-keyframes cd-bounce-2 { 0% { opacity: 0; -webkit-transform: translateX(-100px); }
  60% { opacity: 1; -webkit-transform: translateX(20px); }
  100% { -webkit-transform: translateX(0); } }
@-moz-keyframes cd-bounce-2 { 0% { opacity: 0; -moz-transform: translateX(-100px); }
  60% { opacity: 1; -moz-transform: translateX(20px); }
  100% { -moz-transform: translateX(0); } }
@keyframes cd-bounce-2 { 0% { opacity: 0; -webkit-transform: translateX(-100px); -moz-transform: translateX(-100px); -ms-transform: translateX(-100px); -o-transform: translateX(-100px); transform: translateX(-100px); }
  60% { opacity: 1; -webkit-transform: translateX(20px); -moz-transform: translateX(20px); -ms-transform: translateX(20px); -o-transform: translateX(20px); transform: translateX(20px); }
  100% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); } }
ul.flip-counter { list-style-type: none; padding-left: 0; float: left; }

.flip-counter li { float: right; }

.no-csstransforms3d span.back { display: none; }

.flip-counter.default .digit { position: relative; z-index: 0; width: 60px; height: 90px; margin-left: 10px; background-color: black; text-align: center; line-height: 0; -webkit-text-stroke: 2px; -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.flip-counter.default .digit:last-child { margin-left: 0; }

.flip-counter.default .digit span { position: absolute; left: 0; height: 45px; width: 60px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 90px; font-family: 'Ubuntu', sans-serif; font-weight: 700; text-indent: 2px; background-color: black; color: white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.flip-counter.default .digit span.front { top: 0; padding-top: 45px; }

.flip-counter.default .digit span.back { bottom: 0; }

.flip-counter.default .digit .line { position: absolute; z-index: 10; height: 45px; width: 60px; border-bottom: 1px solid rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); }

.flip-counter.default .digit .hinge-wrap { z-index: 5; position: relative; overflow: visible; -webkit-perspective: 300px; -moz-perspective: 300px; -ms-perspective: 300px; perspective: 300px; }

.flip-counter.default .digit .hinge { position: absolute; height: 45px; width: 60px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; transition: transform 0.3s ease-in; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }

.flip-counter.default .digit .hinge span { height: 0; z-index: 5; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }

.flip-counter.default .digit .hinge span.front { padding-top: 45px; }

.flip-counter.default .digit .hinge span.back { height: 45px; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }

.flip-counter.default .digit.animate .hinge { -webkit-transform: rotateX(-180deg); -moz-transform: rotateX(-180deg); -ms-transform: rotateX(-180deg); -o-transform: rotateX(-180deg); transform: rotateX(-180deg); }

.flip-counter.default .digit-delimiter { padding-top: 38px; margin-right: -5px; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 52px; color: black; text-indent: 3.33333333px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

.flip-counter.light .digit { position: relative; z-index: 0; width: 60px; height: 90px; margin-left: 10px; background-color: #e8f1ff; text-align: center; line-height: 0; -webkit-text-stroke: 2px; -webkit-box-shadow: 1px 1px 5px 0px rgba(232, 241, 255, 0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(232, 241, 255, 0.5); box-shadow: 1px 1px 5px 0px rgba(232, 241, 255, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.flip-counter.light .digit:last-child { margin-left: 0; }

.flip-counter.light .digit span { position: absolute; left: 0; height: 45px; width: 60px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 90px; font-family: 'Ubuntu', sans-serif; font-weight: 700; text-indent: 2px; background-color: #e8f1ff; color: white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.flip-counter.light .digit span.front { top: 0; padding-top: 45px; }

.flip-counter.light .digit span.back { bottom: 0; }

.flip-counter.light .digit .line { position: absolute; z-index: 10; height: 45px; width: 60px; border-bottom: 1px solid rgba(232, 241, 255, 0.7); -webkit-box-shadow: 0px 5px 7px -4px rgba(232, 241, 255, 0.7); -moz-box-shadow: 0px 5px 7px -4px rgba(232, 241, 255, 0.7); box-shadow: 0px 5px 7px -4px rgba(232, 241, 255, 0.7); }

.flip-counter.light .digit .hinge-wrap { z-index: 5; position: relative; overflow: visible; -webkit-perspective: 300px; -moz-perspective: 300px; -ms-perspective: 300px; perspective: 300px; }

.flip-counter.light .digit .hinge { position: absolute; height: 45px; width: 60px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; transition: transform 0.3s ease-in; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }

.flip-counter.light .digit .hinge span { height: 0; z-index: 5; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }

.flip-counter.light .digit .hinge span.front { padding-top: 45px; }

.flip-counter.light .digit .hinge span.back { height: 45px; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }

.flip-counter.light .digit.animate .hinge { -webkit-transform: rotateX(-180deg); -moz-transform: rotateX(-180deg); -ms-transform: rotateX(-180deg); -o-transform: rotateX(-180deg); transform: rotateX(-180deg); }

.flip-counter.light .digit-delimiter { padding-top: 38px; margin-right: -5px; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 52px; color: #e8f1ff; text-indent: 3.33333333px; text-shadow: 1px 1px 5px rgba(232, 241, 255, 0.5); }

.flip-counter.small .digit { position: relative; z-index: 0; width: 30px; height: 40px; margin-left: 5px; background-color: black; text-align: center; line-height: 0; -webkit-text-stroke: 2px; -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.flip-counter.small .digit:last-child { margin-left: 0; }

.flip-counter.small .digit span { position: absolute; left: 0; height: 20px; width: 30px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 34px; font-family: 'Ubuntu', sans-serif; font-weight: 700; text-indent: 2px; background-color: black; color: white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.flip-counter.small .digit span.front { top: 0; padding-top: 20px; }

.flip-counter.small .digit span.back { bottom: 0; }

.flip-counter.small .digit .line { position: absolute; z-index: 10; height: 20px; width: 30px; border-bottom: 1px solid rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); }

.flip-counter.small .digit .hinge-wrap { z-index: 5; position: relative; overflow: visible; -webkit-perspective: 300px; -moz-perspective: 300px; -ms-perspective: 300px; perspective: 300px; }

.flip-counter.small .digit .hinge { position: absolute; height: 20px; width: 30px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; transition: transform 0.3s ease-in; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }

.flip-counter.small .digit .hinge span { height: 0; z-index: 5; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }

.flip-counter.small .digit .hinge span.front { padding-top: 20px; }

.flip-counter.small .digit .hinge span.back { height: 20px; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }

.flip-counter.small .digit.animate .hinge { -webkit-transform: rotateX(-180deg); -moz-transform: rotateX(-180deg); -ms-transform: rotateX(-180deg); -o-transform: rotateX(-180deg); transform: rotateX(-180deg); }

.flip-counter.small .digit-delimiter { padding-top: 15px; margin-right: -2.5px; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 25px; color: black; text-indent: 1.66666667px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

.flip-counter.huge .digit { position: relative; z-index: 0; width: 140px; height: 200px; margin-left: 20px; background-color: black; text-align: center; line-height: 0; -webkit-text-stroke: 2px; -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.flip-counter.huge .digit:last-child { margin-left: 0; }

.flip-counter.huge .digit span { position: absolute; left: 0; height: 100px; width: 140px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 190px; font-family: 'Ubuntu', sans-serif; font-weight: 700; text-indent: 2px; background-color: black; color: white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.flip-counter.huge .digit span.front { top: 0; padding-top: 100px; }

.flip-counter.huge .digit span.back { bottom: 0; }

.flip-counter.huge .digit .line { position: absolute; z-index: 10; height: 100px; width: 140px; border-bottom: 2px solid rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.7); box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.7); }

.flip-counter.huge .digit .hinge-wrap { z-index: 5; position: relative; overflow: visible; -webkit-perspective: 800px; -moz-perspective: 800px; -ms-perspective: 800px; perspective: 800px; }

.flip-counter.huge .digit .hinge { position: absolute; height: 100px; width: 140px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; transition: transform 0.3s ease-in; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }

.flip-counter.huge .digit .hinge span { height: 0; z-index: 5; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }

.flip-counter.huge .digit .hinge span.front { padding-top: 100px; }

.flip-counter.huge .digit .hinge span.back { height: 100px; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }

.flip-counter.huge .digit.animate .hinge { -webkit-transform: rotateX(-180deg); -moz-transform: rotateX(-180deg); -ms-transform: rotateX(-180deg); -o-transform: rotateX(-180deg); transform: rotateX(-180deg); }

.flip-counter.huge .digit-delimiter { padding-top: 130px; margin-right: -10px; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 70px; color: black; text-indent: 6.66666667px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

/* custom */
.flip-counter.default .digit { margin-left: 2px; }

.flip-counter.default .digit span, .flip-counter.default .digit-delimiter { font-family: primaryLight; }

.flip-counter.default .digit-delimiter { margin-right: 0px; }

.flip-counter.default .digit span { font-size: 22px; }

.flip-counter.default .digit-delimiter { font-size: 18px; padding-top: 20px; }

.flip-counter.default .digit, .flip-counter.default .digit span, .flip-counter.default .digit .line, .flip-counter.default .digit .hinge { width: 20px; }

.flip-counter.default .digit { height: 36px; }

.flip-counter.default .digit span, .flip-counter.default .digit .hinge span.back, .flip-counter.default .digit .hinge { height: 18px; }

.flip-counter.default .digit span.front, .flip-counter.default .digit .hinge span.front { padding-top: 18px; }

.flip-counter.default .digit .line { border-bottom: 1px solid #fff; height: 18px; }

.flip-counter-description { font-size: 12px; }

#calorieTicker { float: left; margin: 0 0 0 4px; height: 42px; width: 71px; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/calorie_ticker_xs.gif") no-repeat 0 0; background-size: 71px 42px; }

@media (min-width: 499px) { .flip-counter.default .digit { margin-left: 3px; }
  .flip-counter.default .digit-delimiter { margin-right: 6px; }
  .flip-counter.default .digit span { font-size: 60px; }
  .flip-counter.default .digit-delimiter { font-size: 45px; padding-top: 38px; }
  .flip-counter.default .digit, .flip-counter.default .digit span, .flip-counter.default .digit .line, .flip-counter.default .digit .hinge { width: 50px; }
  .flip-counter.default .digit { height: 76px; }
  .flip-counter.default .digit span, .flip-counter.default .digit .hinge span.back, .flip-counter.default .digit .hinge { height: 38px; }
  .flip-counter.default .digit span.front, .flip-counter.default .digit .hinge span.front { padding-top: 38px; }
  .flip-counter.default .digit .line { border-bottom: 1px solid #fff; height: 36px; }
  .flip-counter-description { font-size: 24px; }
  #calorieTicker { margin: 0 0 0 3px; height: 92px; width: 175px; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/calorie_ticker.gif") no-repeat 0 0; background-size: 175px 92px; } }
.resourceSearch { border-bottom: 1px solid #ccc; margin: 0 0 18px 0; padding: 0 18px 20px 18px; }

.resourceSearch ul { text-align: center; font-size: 15px; line-height: 2; }

.resourceSearch li a { color: #8d8d8d; font-weight: bold; text-decoration: none; }

.resourceSearch li a:hover { color: #378bb9; }

.resourceDirectory ul { padding-left: 0; }

.resourceDirectory li { margin-bottom: 5px; font-size: 14px; }

.resourceDirectory li a, .resourceCategoryLinks li a { text-decoration: none; }

.resourceDirectory li a:hover { text-decoration: underline; }

.resourceDirectory li a:focus { text-decoration: underline; }

.resourceDirectory li a:active { text-decoration: underline; }

.resourceDirectory li.xmasArticle { background: url("/media/images/parts/holly.png") no-repeat left; padding-left: 20px; }

.resourceDirectory h2 { margin-top: 7.5px; }

.resourceResults li { margin-bottom: 10px; }

.resourceDirectory h5 { font-family: primaryNormal; font-weight: normal; font-style: normal; color: #9ac843; font-size: 24px; }

.resourceDirectory .resourceResults li a { text-decoration: underline; }

.resourceDirectory .resourceResults li a:hover { text-decoration: none; }

.resourceResults .resourceTitle { display: inline-block; padding-bottom: 3px; }

.resourceResults .resourceTitle img { margin-left: 3px; }

.resourceCategories h1 { color: #303030; font-family: primaryNormal; font-weight: normal; font-size: 24px; margin-top: 7.5px; }

.resourceCategories a.nut_arrowLink:hover { background-color: #f7f7f7; }

.resourceCategories a.nut_arrowLink:active { background-color: #f7f7f7; }

.resourceCategoryLinks li a:hover { text-decoration: underline; }

.resourceCategoryLinks li a:focus { text-decoration: underline; }

.resourceCategoryLinks li a:active { text-decoration: underline; }

.resourceArticleContent h1 { color: #9ac843; font-family: primaryNormal; font-weight: normal; font-size: 24px; margin-top: 7.5px; }

.resourceArticleContent h1.xmasArticle { background: url("/media/images/parts/holly.gif") no-repeat top left; text-indent: 30px; }

.resourceArticleContent h3 { color: #f09403; font-size: 18px; font-weight: normal; font-style: normal; }

.resourceArticleContent ul, .resourceArticleContent ol { margin: 18px 0 18px 0; padding-left: 20px; }

.resourceArticleContent li { margin-bottom: 7.5px; line-height: 1.5; }

.resourceResultsContent h2 { color: #303030; font-family: primaryNormal; font-weight: normal; font-size: 24px; margin: 7.5px 0 18px 0; }

.resourceArticleContent ul { list-style-type: none; padding-left: 27px; text-indent: -27px; }

.resourceArticleContent ul li:before { background-color: #378bb9; border-radius: 50%; content: ""; display: inline-block; margin-right: 15px; height: 13px; width: 13px; }

.resourceArticleContent ol { margin-left: 37px; padding-right: 0px; list-style-type: none; padding-left: 0px; text-indent: -37px; }

.resourceArticleContent ol li { counter-increment: step-counter; font-size: 17px; line-height: 24px; }

.resourceArticleContent ol li::before { content: counter(step-counter); background: #378bb9; border-radius: 0.8em; -moz-border-radius: 0.8em; -webkit-border-radius: 0.8em; font-family: PrimaryBold; color: #ffffff; display: inline-block; line-height: 1.6em; margin-right: 10px; text-align: center; width: 1.6em; text-indent: 0px; }

.resourceResultsContent ul { margin-bottom: 30px; }

.resourceResultsContent a.nut_arrowLink:hover { background-color: #f7f7f7; }

.resourceResultsContent a.nut_arrowLink:active { background-color: #f7f7f7; }

.resourceResultsContent li a span { display: block; }

.resourceCenterContent.nutritionForum, .resourceCenterContent.fitnessForum { padding-top: 7.5px; }

.nutritionForum .forumFitnessExpert, .fitnessForum .forumNutritionExpert { display: none; }

.nutritionForum .forumDisplayFitness, .fitnessForum .forumDisplayNutrition { display: none; }

.nutritionForum .table > tbody > tr:nth-of-type(even) { background-color: #ffe6ef; }

.fitnessForum .table > tbody > tr:nth-of-type(even) { background-color: #f1f6fa; }

.forumQuestion h2, .expertAnswer h2 { margin-bottom: 20px; padding-top: 5px; }

.nutritionForum th { background-color: #F56EA9; color: #fff; }

.fitnessForum th { background-color: #378bb9; color: #fff; }

.expertAnswer { padding: 0 18px 0 18px; }

.forumQuestion { margin-bottom: 18px; padding: 18px; }

.nutritionForum .forumQuestion h6, .nutritionForum .expertAnswer h6, .nutritionForum .forumQuestion h2, .nutritionForum .expertAnswer h2 { color: #F56EA9; }

.fitnessForum .forumQuestion h6, .fitnessForum .expertAnswer h6, .fitnessForum .forumQuestion h2, .fitnessForum .expertAnswer h2 { color: #378bb9; }

.nutritionForum .forumQuestion { background-color: #ffe6ef; }

.fitnessForum .forumQuestion { background-color: #f1f6fa; }

.resourceResultsContent a.nut_arrowLink { text-decoration: none !important; }

#resourceTopPlacement { text-align: center; }

.directorySearch #directoryTitle { display: block; float: left; }

.directorySearch #directoryTitle h5 { margin-top: 0; color: #378bb9; }

.searchOther li { margin-bottom: 5px; }

#resourceSearch li { font-size: 18px; }

.thumbImg { width: 40px; }

p.bg-info { padding: 18px; margin-top: 18px; }

.tdEasterEgg { width: 210px; text-align: center; }

.tdEasterEgg img { float: none !important; }

.tdEasterEgg span { display: block; }

.atozLinks { margin: 0 0 40px 0; padding: 0; }

.atozLinks a { text-decoration: none; }

.atozLinks a:hover, .atozLinks a:active, .atozLinks a:focus { color: #378bb9; }

.atozLinks li { display: inline-block; }

.atozLinks li::after { content: " | "; padding: 0 4px 0 4px; }

.atozLinks li:last-child::after { content: ""; padding: 0; }

#anytimeAnyWhere { height: 680px; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/info/3/caloriesin_anywhere.jpg") no-repeat right; padding: 75px 0 0 40px; }

#anytimeAnyWhere h2 { margin-bottom: 30px; }

#ChartImg { width: 100%; }

.calsinResultsTable { width: 100%; }

.calsinResultsTable td { border-bottom: 1px solid #ccc; vertical-align: middle; padding: 9px; }

.calsinResultsArrow { width: 35px; vertical-align: middle; }

@media (min-width: 499px) { #resourceTopPlacement { display: block; min-height: 110px; padding: 5px 18px 10px 18px; border-bottom: 1px solid #ccc; margin-bottom: 18px; text-align: center; margin-top: -30px; }
  .contentFix #ResourceCenterContent { width: 570px; float: left; margin-left: 18px; margin-right: 18px; padding: 0 18px 0 18px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
  #ResourceCenterContent p, #ResourceCenterContent li { font-size: 12px; }
  #articleContent img.articleImage:nth-of-type(even) { float: left; margin: 0 10px 5px 0; }
  #articleContent img.articleImage:nth-of-type(odd) { float: right; margin: 0 0 5px 10px; }
  #directorySearch { float: right; }
  .directorySearch #directoryTitle { width: 470px; }
  .searchOther li { margin-bottom: 2px; }
  .resourceCenterContent { border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding-left: 18px; padding-right: 18px; min-height: 610px; }
  .calsinResultsTable td { padding: 18px; }
  .tdEasterEgg { text-align: left; }
  .tdEasterEgg img { float: left !important; }
  .tdEasterEgg span { display: inline; }
  .resourceSearch .nut_textSearchHolderMedium { padding-left: 50px; }
  .resourceSearch ul { text-align: right; font-size: 12px; line-height: 1; } }
.Section ul, #articleContent ul { padding-left: 2px; }

.Section ul li, #articleContent ul li { background: url("/media/images/parts/arrow_gry_right.gif") no-repeat 0 4px; list-style: outside none none; padding: 0 0 4px 12px; }

.Section ul a, #articleContent ul a { text-decoration: none; }

.Section ul a:hover { text-decoration: underline; }

#articleContent ul a:hover { text-decoration: underline; }

.printArticle { margin-left: 10px; }

.Index li.xmasArticle { background: url("/media/images/parts/holly.png") no-repeat left; padding-left: 20px; }

.recipeGuide { border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; }

.recipeGuide .recipeServing { float: right; background-color: #FDFFE9; border: 1px solid #ccc; border-radius: 6px; text-align: center; width: 90px; height: 80px; padding: 5px; }

.star { background-image: url("/media/images/review/star.gif"); height: 19px; width: 19px; padding-right: 3px; background-repeat: no-repeat; display: inline-block; }

.star.empty { background-image: url("/media/images/review/star_empty.gif"); }

.star.small { background-image: url("/media/images/review/star_small.gif"); height: 14px; width: 14px; }

.star.small.empty { background-image: url("/media/images/review/star_small_empty.gif"); }

.averageOverallRating { padding: 5px 0 0 10px; }

#RateMyFood .nut_panelBlue { padding: 18px; }

.ProductSearch { padding: 50px 0 50px 0; }

@media print { .resourceSearch, #Footer, img.articleImage { display: none !important; } }
#smallProfilePanel { min-height: 280px; }

#smallProfilePanel table { width: 100%; }

#smallProfilePanel table td { font-size: 11px; }

.smallProfileIndent { margin: 10px; }

.tdSmallLabel { font-weight: bold; width: 27%; }

.inputsTD { padding-right: 5px; width: 20%; padding-bottom: 4px; }

.labelsTD { padding-bottom: 4px; }
