#SiteBnr .nav.navbar-nav { margin: 14px auto 0 auto; display: table; float: none; }

#SiteBnr .navbar-default .navbar-nav > li { padding-left: 15px; padding-right: 15px; border-bottom: none; }

#SiteBnr .navbar-default .navbar-nav > li:first-child { margin-left: 30px; }

#SiteBnr .navbar-default .navbar-nav > li > a { padding: 0; font-size: 14px; background-color: transparent; text-align: center; height: auto; margin-bottom: 15px; }

#SiteBnr .navbar-default .navbar-nav > li > a:hover, #SiteBnr li.active a { color: #378bb9 !important; }

#SiteBnrBG { height: 90px; padding-top: 0; }

#signInBtns { display: block; float: right; margin: 25px 35px 0 0; }

#signInBtns .btn { border: 3px solid #ef9302; }

#signInBtns .btn.btn-warning:hover { border-color: #d78403; color: #fff; background-color: #d78403; }

#signInBtns .btn.btn-info { margin-left: 10px; background-color: transparent; }

#signInBtns .btn.btn-info:hover { margin-left: 10px; color: #fff !important; background-color: #f09403; }

#BrandLogo { width: 103px; margin: 15px 0 0 50px; }

.menuIcon { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/sprites/navbar_icons5.png"); background-repeat: no-repeat; background-size: 96px 679px; height: 43px; width: 43px; margin: 0 auto 4px auto; display: block; }

#menuIconBenefits { background-position: 0 0; }

#SiteBnr a:hover #menuIconBenefits, #SiteBnr a:focus #menuIconBenefits, #SiteBnr a:active #menuIconBenefits, #SiteBnr li.active #menuIconBenefits { background-position: -53px 0; }

#menuIconPrices { background-position: 0 -53px; }

#SiteBnr a:hover #menuIconPrices, #SiteBnr a:focus #menuIconPrices, #SiteBnr a:active #menuIconPrices, #SiteBnr li.active #menuIconPrices { background-position: -53px -53px; }

#menuIconDevices { background-position: 0 -106px; }

#SiteBnr a:hover #menuIconDevices, #SiteBnr a:focus #menuIconDevices, #SiteBnr a:active #menuIconDevices, #SiteBnr li.active #menuIconDevices { background-position: -53px -106px; }

#menuIconSuccesses { background-position: 0 -159px; }

#SiteBnr a:hover #menuIconSuccesses, #SiteBnr a:focus #menuIconSuccesses, #SiteBnr a:active #menuIconSuccesses, #SiteBnr li.active #menuIconSuccesses { background-position: -53px -159px; }

#menuIconAbout { background-position: 0 -212px; }

#SiteBnr a:hover #menuIconAbout, #SiteBnr a:focus #menuIconAbout, #SiteBnr a:active #menuIconAbout, #SiteBnr li.active #menuIconAbout { background-position: -53px -212px; }

#menuIconDiary { background-position: 0 -265px; }

#SiteBnr a:hover #menuIconDiary, #SiteBnr a:focus #menuIconDiary, #SiteBnr a:active #menuIconDiary, #SiteBnr li.active #menuIconDiary { background-position: -53px -265px; }

#menuIconProfile { background-position: 0 -318px; }

#SiteBnr a:hover #menuIconProfile, #SiteBnr a:focus #menuIconProfile, #SiteBnr a:active #menuIconProfile, #SiteBnr li.active #menuIconProfile { background-position: -53px -318px; }

#menuIconRecipes { background-position: 0 -372px; }

#SiteBnr a:hover #menuIconRecipes, #SiteBnr a:focus #menuIconRecipes, #SiteBnr a:active #menuIconRecipes, #SiteBnr li.active #menuIconRecipes { background-position: -53px -372px; }

#menuIconWeighIn { background-position: 0 -425px; }

#SiteBnr a:hover #menuIconWeighIn, #SiteBnr a:focus #menuIconWeighIn, #SiteBnr a:active #menuIconWeighIn, #SiteBnr li.active #menuIconWeighIn { background-position: -53px -425px; }

#menuIconForums { background-position: 0 -478px; }

#SiteBnr a:hover #menuIconForums, #SiteBnr a:focus #menuIconForums, #SiteBnr a:active #menuIconForums, #SiteBnr li.active #menuIconForums { background-position: -53px -478px; }

#menuIconResources { background-position: 0 -531px; }

#SiteBnr a:hover #menuIconResources, #SiteBnr a:focus #menuIconResources, #SiteBnr a:active #menuIconResources, #SiteBnr li.active #menuIconResources { background-position: -53px -531px; }

#menuIconSupport { background-position: 0 -585px; }

#SiteBnr a:hover #menuIconSupport, #SiteBnr a:focus #menuIconSupport, #SiteBnr a:active #menuIconSupport, #SiteBnr li.active #menuIconSupport { background-position: -53px -585px; }

#menuIconBlog { background-position: 0 -638px; }

#SiteBnr a:hover #menuIconBlog, #SiteBnr a:focus #menuIconBlog, #SiteBnr a:active #menuIconBlog, #SiteBnr li.active #menuIconBlog { background-position: -53px -638px; }

#signOutNav .dropdown-menu > li > a { font-size: 15px; padding: 0; }

.menuIcon { height: 43px; width: 43px; margin: 0 auto 4px auto; float: none; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #378bb9 !important; }

.stickybanner { min-width: 998px; font-size: 26px; padding-top: 16px; }

.stickybanner .btn { margin-top: 0; }

.navbar-default { background-color: transparent; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background-color: transparent; }

.dropdown:hover .dropdown-menu { display: block; }

.dropdown-menu li:first-child { margin-top: 6px; }

.dropdown:hover .dropdown-menu { display: block; }

.navbar-toggle { display: none; }

.navbar-nav > li { float: left; }

.navbar-header { float: left; }

.navbar-collapse { display: block; border: none; box-shadow: none !important; }

.collapse { visibility: visible !important; }

#Container { min-width: 998px; }

#infoSplash { min-width: 998px; }

.navbar-nav > li.navRightLinks { float: right; }

.nav > li.navDivider { display: block !important; }

#WelcomeBack { display: block !important; }

.textSmall { font-size: 11px; }

.textDefault { font-size: 12px; }

.nut_panelBlue { padding: 18px; }

.nut_panel { margin-bottom: 18px; padding: 18px; border-radius: 6px; background-color: #ffffff; border: 1px solid #cccccc; position: relative; }

.nut_panel:last-child { margin-bottom: 0; }

.form-control { font-size: 12px; min-height: 0; }

.input-lg { font-size: 15px; }

.form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }

.nut_content_height { min-height: 482px; }
