.sbnrDropContent { margin-bottom: 0 !important; }

.helpContent, .helpContentHome { padding: 0 20px 18px 20px; }

.helpContent p, .helpContent li { font-size: 17px; line-height: 24px; }

.helpContent li { margin-bottom: 10px; }

.helpContent ul, .helpContent ol { margin: 20px 0 20px 0; }

.helpAnswer ul { list-style-type: none; padding-left: 27px; text-indent: -27px; }

.helpAnswer ul li:before { background-color: #378bb9; border-radius: 50%; content: ""; display: inline-block; margin-right: 15px; height: 13px; width: 13px; }

.helpAnswer ol { margin-left: 37px; padding-right: 0px; list-style-type: none; padding-left: 0px; text-indent: -37px; }

.helpAnswer ol li { counter-increment: step-counter; }

.helpAnswer ol li::before { content: counter(step-counter); background: #378bb9; border-radius: 0.8em; -moz-border-radius: 0.8em; -webkit-border-radius: 0.8em; font-family: PrimaryBold; color: #ffffff; display: inline-block; line-height: 1.6em; margin-right: 10px; text-align: center; width: 1.6em; text-indent: 0px; }

.homeIcon { display: block; width: 46px; height: 46px; }

.homeIcon:hover { opacity: 0.5; }

.homeIcon:active { opacity: 0.5; }

.homeIcon:focus { opacity: 0.5; }

h1#supportHome { padding: 20px 40px 0 40px; }

#supportSearch { padding-top: 40px; }

.appHeader a { text-decoration: none !important; }

.menuLink { display: inline-block; width: auto; text-align: center; text-decoration: none; padding: 10px; margin-bottom: 5px; font-size: 15px; border: none; white-space: nowrap; color: #378bb9; }

.menuLink:hover { background-color: transparent; text-decoration: none; color: #378bb9; }

.menuLink:active .iconCircleBorder { background-color: #f7f7f7; text-decoration: none; color: #378bb9; }

.menuLink:focus .iconCircleBorder { background-color: #f7f7f7; text-decoration: none; color: #378bb9; }

.iconCircleBorder { width: 130px; height: 130px; border-radius: 50%; border: 1px solid #eee; margin: 0 auto 10px auto; }

.menuLink .iconCircleBorder { background-color: #eee; }

.supportIcon { background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/sprites/support_icons3.png") no-repeat; }

.supportIcon { background-size: 60px 658.5px; width: 60px; height: 60px; margin-left: auto; margin-right: auto; }

#iconMembership { background-position: 0 0; margin-top: 30px; }

#iconTargets { background-position: 0 -66px; margin-top: 35px; }

#iconFood { background-position: 0 -132px; margin-top: 30px; }

#iconExercise { background-position: 0 -199px; margin-top: 30px; }

#iconFitbit { background-position: 0 -265px; margin-top: 20px; }

#iconProgress { background-position: 0 -331px; margin-top: 30px; }

#iconMeals { background-position: 0 -398px; margin-top: 30px; }

#iconForums { background-position: 0 -468px; margin-top: 30px; }

#iconActivity { background-position: 0 -600px; margin-top: 30px; }

.iconCircle { height: 100px; width: 100px; border-radius: 50%; border: 1px solid #ccc; }

.popularQuestions h2 { margin: 20px 0 40px 0; text-align: center; }

.popularQuestions a { font-size: 24px; display: block; background-color: #378bb9; padding: 8px 18px 6px 18px; margin-bottom: 10px; text-decoration: none; color: #fff; border-radius: 8px; }

.popularQuestions a:hover { color: #ebf3f8; }

.popularQuestions a:active { color: #f1f6fa; }

#topicHeader { display: table; margin: 0 auto 40px auto; }

#topicHeader h1 { float: left; padding: 15px 0 0 10px; font-size: 24px; }

#topicHeader .supportIcon { background-size: 60px 658.5px; width: 60px; height: 60px; float: left; }

#topicHeader #iconMembership { background-position: 0 0; margin-top: 0; }

#topicHeader #iconTargets { background-position: 0 -66px; margin-top: 0; }

#topicHeader #iconFood { background-position: 0 -132px; margin-top: 0; }

#topicHeader #iconExercise { background-position: 0 -199px; margin-top: 0; }

#topicHeader #iconFitbit { background-position: 0 -265px; margin-top: 0; }

#topicHeader #iconProgress { background-position: 0 -331px; margin-top: 0; }

#topicHeader #iconMeals { background-position: 0 -397px; margin-top: 0; }

#topicHeader #iconForums { background-position: 0 -468px; margin-top: 0; }

#topicHeader #iconActivity { background-position: 0 -598px; margin-top: 0; }

#topicHeader #iconApp { background-position: 0 -532px; margin-top: 0; }

.helpQuestion { display: none; }

.helpQuestion h2 { margin: 0 0 40px 0; }

.helpQuestion h3 { font-size: 18px; color: #378bb9; font-family: PrimaryNormal; }

.helpQuestion table { margin: 40px 0 40px 0; border: 1px solid #ccc; }

.helpQuestion th, .helpQuestion td { font-size: 17px; line-height: 24px; padding: 6px 10px 6px 10px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }

.helpQuestion th { background-color: #f7f7f7; }

.relatedQuestions { padding: 10px 20px 30px 20px; margin-bottom: 40px; background-color: #ebf3f8; border-radius: 8px; margin-top: 30px; }

.relatedQuestions ul { list-style: none; padding: 0; border-bottom: 1px solid #303030; }

.relatedQuestions li { border-top: 1px solid #303030; margin-bottom: 0; }

.relatedQuestions a { display: block; text-decoration: none; padding: 10px; }

.relatedQuestions a:hover { background-color: #378bb9; color: #fff; }

.relatedQuestions h4 { color: #378bb9; font-family: PrimaryNormal; line-height: 1.3; }

.helpTopics { margin-bottom: 40px; }

.helpTopics a { text-decoration: none; }

.helpTopics h4 { font-size: 17px; font-weight: normal; border-bottom: 1px dotted #8d8d8d; margin: 0 0 10px 0; display: table; padding-bottom: 10px; line-height: 1.3; }

.helpTopics.text-center h4 { margin: 0 auto 10px auto; }

.helpTopics h3 { margin-top: 0; color: #b765af; font-size: 18px; margin-bottom: 20px; }

.helpTopics p { color: #8d8d8d; }

.helpTopics span.tagnumber { display: none; }

.topic h3 { display: none; }

.topic.subTagSection h3 { display: block; }

.topic.subTagSection .row { margin-top: 30px; }

#contactUs { margin-top: 35px; background-color: #ebf3f8; padding: 35px 0 35px 0; }

#contactUs h2 { font-size: 28px; }

.nut_textSearchHolderLarge { margin-bottom: 40px; width: 180px; }

.nut_textSearchHolderLarge button { width: 60px; height: 55px; padding-left: 5px; padding-top: 2px; }

.nut_textSearchHolderLarge .nut_textInputHolderLarge { margin-right: 60px; }

.nut_textSearchHolderLarge .nut_searchInputLarge { padding: 10px; }

#helpInputApp.nut_textSearchHolder { padding: 15px 40px 15px 40px; background-color: #eee; margin-bottom: 20px; }

#helpInputApp.nut_textSearchHolder .nut_searchInput { border-radius: 20px; font-size: 20px; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/magnifying_glass_grey.png") no-repeat 12px 12px; background-size: 20px 20px; padding-left: 45px; background-color: #fff; height: 40px; }

#helpInputApp .nut_textInputHolder { margin-right: 0; }

.appHeader { background: linear-gradient(to bottom, #009cc9, #11b9a7); font-size: 24px; color: #fff; text-align: center; padding-top: 6px; padding-bottom: 4px; position: relative; }

.appHeader { font-family: primaryNormal !important; min-height: 40px; }

.appHomeLink { display: block; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/sprites/support_home.png") no-repeat; background-size: 25px 50px; background-position: right -25px; margin-right: 10px; height: 30px; }

.oddSpacerDT { display: none; }

.oddSpacerM { float: left; width: 25%; }

@media (min-width: 320px) { #topicHeader h1 { font-size: 28px; }
  .nut_textSearchHolderLarge { width: 210px; } }
@media (min-width: 499px) { .oddSpacerDT { display: block; float: left; width: 12.5%; }
  .oddSpacerM { display: none; }
  #supportSearch { padding-top: 0; margin-top: 18px; }
  .sbnrDropContent { margin-bottom: 20px !important; }
  h1#supportHome { padding-top: 0; }
  .helpTopics h3 { margin-bottom: 0; }
  .helpContent { padding: 0 150px 40px 150px; }
  .helpContentHome { padding: 0 40px 40px 40px; }
  .contactUs { width: 480px; max-width: none; }
  .menuLink { height: auto; margin-bottom: 20px; }
  .menuLink:hover .iconCircleBorder { background-color: #f7f7f7; text-decoration: none; }
  .iconCircleBorder { width: 170px; height: 170px; }
  .supportIcon { background-size: 120px 1317px; margin: 0 auto 5px auto; width: 120px; height: 120px; }
  #iconMembership { background-position: 0 0; margin-top: 15px; }
  #iconTargets { background-position: 0 -132px; margin-top: 30px; }
  #iconFood { background-position: 0 -258px; margin-top: 15px; }
  #iconExercise { background-position: 0 -398px; margin-top: 20px; }
  #iconFitbit { background-position: 0 -530px; }
  #iconProgress { background-position: 0 -662px; margin-top: 20px; }
  #iconMeals { background-position: 0 -797px; margin-top: 20px; }
  #iconForums { background-position: 0 -935px; margin-top: 20px; }
  #iconActivity { background-position: 0 -1196px; margin-top: 20px; }
  #iconApp { background-position: 0 -1064px; }
  .homeIcon, .backIcon { width: 60px; height: 60px; }
  .backIcon { margin-right: 15px; }
  .backIcon:hover { opacity: 0.5; }
  .backIcon:active { opacity: 0.5; }
  .backIcon:focus { opacity: 0.5; }
  .nut_textSearchHolderLarge { width: auto; }
  .nut_textSearchHolderLarge button { width: 90px; height: 74px; padding-left: 15px; padding-top: 4px; }
  .nut_textSearchHolderLarge .nut_textInputHolderLarge { margin-right: 90px; }
  .nut_textSearchHolderLarge .nut_searchInputLarge { padding: 20px; }
  #topicHeader h1 { padding-top: 50px; font-size: 36px; padding-left: 20px; }
  #topicHeader .supportIcon { background-size: 120px 1317px; width: 120px; height: 120px; }
  #topicHeader #iconMembership { background-position: 0 0; margin-top: 0; }
  #topicHeader #iconTargets { background-position: 0 -132px; margin-top: 0; }
  #topicHeader #iconFood { background-position: 0 -258px; margin-top: 0; }
  #topicHeader #iconExercise { background-position: 0 -398px; margin-top: 0; }
  #topicHeader #iconFitbit { background-position: 0 -530px; margin-top: 0; }
  #topicHeader #iconProgress { background-position: 0 -662px; margin-top: 0; }
  #topicHeader #iconMeals { background-position: 0 -797px; margin-top: 0; }
  #topicHeader #iconForums { background-position: 0 -935px; margin-top: 0; }
  #topicHeader #iconActivity { background-position: 0 -1200px; margin-top: 0; }
  #topicHeader #iconApp { background-position: 0 -1064px; margin-top: 0; }
  .relatedQuestions { margin-top: 0; } }
@media (min-width: 499px) { .helpContentHome { padding: 0 150px 40px 150px; } }
