html, body {height:100%;}

#fb_button {
float:right;
width:27px;
height:27px;
background: url(/images-new-10in2/fb1.jpg);
margin-right:5px;
}
#fb_button:hover, #fb_button:focus {
background: url(/images-new-10in2/fb2.jpg);
}


#yt_button {
float:right;
width:79px;
height:27px;
background: url(/images-new-10in2/youtube2.jpg);
margin-right:5px;
}


#insta_button {
float:right;
width:25px;
height:25px;
margin-right:10px;
}





#yt_button:hover, #fb_button:focus {
background: url(/images-new-10in2/youtube1.jpg);
}

#hgw {
position: fixed;
top: 0; left: 0; width: 724px; height: 100%;
overflow: hidden; margin: 0;
background-color: #ffffff;
z-index: 0;
}

#hgb {
position: fixed;
top: 0; left: 725px; width: 278px; height: 100%;
overflow: hidden; margin: 0;
background-color: #3B5998;
background-image: url("./images-new-10in2/schatten.gif");
background-position: right top;
background-repeat: repeat-y;
z-index: 0;
}

img.floatLeft 
{ 
    float: left; 
	    margin-left: 0px;
	    margin-right: 10px;
		margin-bottom: 2px;
			margin-top: 5px;  
}

img.floatRight 
{ 
    float: right; 
    margin-left: 18px;
	    margin-right: 0px;
		margin-bottom: 2px;
			margin-top: 15px;  
}


body {
	background-color: #ecedf0;
	padding: 0; margin: 0;
}

a:link {
	color: #4662ae;	
	text-decoration: none;
	font-weight:bolder;text-decoration: none; 
}
a:visited {
	color: #4662ae;text-decoration: none;
}
a:hover {
	color: #6980b3;text-decoration: none;
}
a:active {
	color: #454545;text-decoration: none;
}


.footer,td,th {
	color: #d3d9e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:none;
	text-decoration: none;
	line-height: 14px;
	padding-left: 10px;
}
a.footer:link {font-family: Arial, Helvetica, sans-serif;
	color: #d3d9e6; 
		text-decoration: none; 	line-height: 38px;padding-left: 10px;
}
a.footer:visited {font-family: Arial, Helvetica, sans-serif;
		color: #d3d9e6; 
		text-decoration: none;line-height: 38px;padding-left: 10px;}
a.footer:hover {font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
		text-decoration: none;line-height: 38px;padding-left: 10px;
}
a.footer:active {font-family: Arial, Helvetica, sans-serif;
		color: #d3d9e6; 
		text-decoration: none;line-height: 38px;padding-left: 10px;
}
.weitere-infos,td,th {
	color: #e2e3e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 15px; 
}
a.weitere-infos:link {
	color: #e2e3e6; 
		text-decoration: none; 	line-height: 15px;
}
a.weitere-infos:visited {
		color: #e2e3e6; 
		text-decoration: none;line-height: 15px;}
a.weitere-infos:hover {
	color: #ffffff;
		text-decoration: none;line-height: 15px;
}
a.weitere-infos:active {
		color: #e2e3e6; 
		text-decoration: none;line-height: 15px;
}

.breadcrumbs,td,th {
	color: #e2e3e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none; line-height: 20px;
}
a.breadcrumbs:link {
	color: #e2e3e6; 
		text-decoration: none;line-height: 20px;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
}
a.breadcrumbs:visited {
		color: #e2e3e6; 
		text-decoration: none;line-height: 20px;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
}
a.breadcrumbs:hover {
	color: #ffffff;
		text-decoration: none;line-height: 20px;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
}
a.breadcrumbs:active {
		color: #e2e3e6; 
		text-decoration: none;line-height: 20px;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
}

	#header_top				{ width: 100%; height: 34px; margin: 0px;background-color: #3b5998; position:relative; z-index:8;  }
	#header_top_menu		{
	text-align:right;
	margin: 0px;
	width: 998px;	font-family:"Helvetica Neue", Helvetica, Arial font-size: 11px; color: #ffffff;text-transform:uppercase; line-height:35px; 
}
.header_top_menu		{

	color: #d3d9e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none; 
}


a.header_top_menu:link		{

	 font-size: 11px; color: #d3d9e6;
}

a.header_top_menu:visited		{

	 color: #d3d9e6;
}

a.header_top_menu:hover		{

 color: #ffffff; 
}

a.header_top_menu:active		{

 color: #ffffff; 
}


	#header_menue				{
	width: 796px;
	height: 51px;
	margin: 0px;
	padding: 0px;
	padding-top: 15px; padding-left: 200px;
	 
	background-image: url(./images-new-10in2/header-menue2.gif);
	background-repeat: repeat-x;
	overflow: visible;
	z-index: 5;
	visibility: visible;
}


.header_menue {
	color: #d3d9e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-transform:uppercase;
	text-decoration: none;
}
a.header_menue:link {
	color: #d3d9e6;
		text-decoration: none;
}
a.header_menue:visited {
		color: #d3d9e6;
		
}
a.header_menue:hover {
	color: #ffffff; 
		
}
a.header_menue:active {
		color: #ffffff; 
		
}



	#logo			{
	position: absolute;
	left: 10px;
	top: 5px;
	width: 170px;
	height: 190px;
	margin: 0px;
	padding: 0px;
	
	z-index: 10;
	visibility: visible;
	overflow: visible;
}
	#schatten {
	position: relative;
	width: 1003px;
	margin: 0px;
	padding: 0px;
	background-color: #3b5998;
	background-image: url(./images-new-10in2/schatten.gif);
	background-repeat: repeat-y;
	background-position:right;
}

	.white { color: #ffffff; }

	#breadcrumb {
	margin-left: 200px;
	padding: 0px;
	padding-bottom: 5px;
	z-index: 20;
	letter-spacing: 1px;
}

	#google { position:absolute;
	margin-left: 190px;
	margin-top:10px;
	z-index: 120;
}

	#pinterest { position:absolute;
	margin-left: 280px;
	margin-top:8px;
	z-index: 130;
}

	#insta { position:absolute;
	margin-left: 330px;
	margin-top:8px;
	z-index: 140;
}


	#footer				{  position: fixed; left: 0px; bottom: 0px; width: 100%; height: 34px; margin: 0px; padding: 0px; background-color:#2b2c31; z-index: 190; clear:both; }
	#footer a, #footer form { float: left; }
	
	#funktion .sm_button { float:left;margin-left:-17px;margin-right:10px; }
	#funktion form.pay {  }
	
	#header_adv02				{

	width: 1164px;
	height: 111px;
	margin: 0px;
	padding: 0px;
	padding-top: 28px;
	text-align: right;
	position: relative;
	background-color: #ecedf0;
}
	#header_adv01				{
	position: absolute;
	left: 1004px;
	top: 164px;
	width: 160px;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	float:right;
	z-index: 3;
}


#container				{ width: 996px; margin: 0px; padding: 0px; background-color: #5973a8;}

#inhalt				{ width: 664px; margin: 0 0 50px 0; padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 0px; text-align: justify; float:left; background-color: #ffffff; color: #555; line-height:1.5; font-family: "Helvetica Neue", Helvetica, Arial;  font-size: 15px; overflow: visible; text-align:justify; word-spacing: .1em; }




#funktion				{ width: 261px; margin: 0 0 50px 0; padding: 0px; padding-left: 17px; color: #445ca4; float: right;
	background-color: #3b5998;
	background-image: url(./images-new-10in2/schatten.gif);
	background-repeat: repeat-y;
	background-position:right;
	}






H1 {
	color: #3d5598;
	line-height:35px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	text-decoration: none;text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
#facebook-10in2				{ width: 685px; margin: 0px; padding-left: 0px; padding-right: 25px; font-family: Arial, Helvetica, sans-serif;
	font-size: 15px; font-weight: 800; color: #5973a8;}




div#mybox, div#mybox1{

width: 255px;
margin-left: -10px;
background-color: #3b5998;
webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 6px; -webkit-box-shadow:  2px 2px 2px #000000;
    -moz-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
	margin-bottom:20px; z-index:99;
	}
	
	div#paypal{

width: 255px;
margin-left: -10px;
background-color: #ffffff;
webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 6px; -webkit-box-shadow:  2px 2px 2px #000000;
    -moz-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
	margin-bottom:20px; z-index:99;
	}
	
	
	

div#seminarkabarett{

width: 255px;
margin-left: -10px;
background-color: #3b5998;
webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; -webkit-box-shadow:  2px 2px 6px #000000;
    -moz-box-shadow: 1px 1px 6px #000000;
    box-shadow: 1px 1px 6px #000000;
	margin-bottom:20px; z-index:99;
	}
	
div#mybox2{
margin-left: -10px;
width: 255px;

background-color: #3b5998;
webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 6px; -webkit-box-shadow: 2px 2px 2px #000000;
    -moz-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
	margin-bottom:20px; z-index:99;
	}
	
	
	div#mybox3{
margin-left: -10px;
width: 255px;

background-color: #e6e9f1;
webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; -webkit-box-shadow: 1px 1px 6px #000000;
    -moz-box-shadow: 1px 1px 6px #000000;
    box-shadow: 1px 1px 6px #000000;
	margin-bottom:40px; z-index:99;
	}
	

h5{font: lighter 100% 'Shanti', Arial, Helvetica, sans-serif;color: #e2e3e6;line-height: 24px;text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}
a.h5:link{font: lighter 90% 'Shanti', Arial, Helvetica, sans-serif;color: #e2e3e6; line-height: 24px;text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}
a.h5:visited{font: lighter 90% 'Shanti',Arial, Helvetica, sans-serif;color: #e2e3e6;line-height: 24px;text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}
a.h5:hover{font: lighter 90% 'Shanti',Arial, Helvetica, sans-serif;color: #ffffff; line-height: 24px;text-transform:uppercase; }
a.h5:active{font: lighter 90% 'Shanti',Arial, Helvetica, sans-serif;color: #e2e3e6;line-height: 24px;text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}

h7{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #e2e3e6;line-height: 24px;text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}
a.h7:link{font-family: Arial, Helvetica, sans-serif; font-size:11px;color: #e2e3e6; line-height: 24px;text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}
a.h7:visited{font-family: Arial, Helvetica, sans-serif; font-size:11px;color: #e2e3e6;line-height: 24px;text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}
a.h7:hover{font-family: Arial, Helvetica, sans-serif; font-size:11px;color: #ffffff; line-height: 24px;text-transform:uppercase; }
a.h7:active{font-family: Arial, Helvetica, sans-serif; font-size:11px;color: #e2e3e6;line-height: 24px;text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}


h5,p{margin:0;padding:10px 20px;}
h6,p{margin:0;padding:10px 20px;}
h4,p{margin:0;padding:10px 20px;} 
h7,p{margin:0;padding:10px 5px;}
.headerbox { color: #ffffff; font-size:15px; font-family: "Helvetica Neue", Helvetica, Arial Arial, Helvetica, sans-serif; line-height:5px; text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);background-image:url(/images-new-10in2/butt.jpg); background-repeat:no-repeat; width:255px; height:30px;}

.stylenifty {font-family: "Arial Narrow", Arial, Verdana}

.headerbox2 {color: #ffffff; font-size:15px;  font-family: "Helvetica Neue", Helvetica, Arial Arial, Helvetica, sans-serif; text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);}





h6{font: lighter 90% Arial, Helvetica, sans-serif;color: #d3d9e6;line-height: 15px;}
a.h6:link{font: lighter 120% Arial, Helvetica, sans-serif;color: #d3d9e6; line-height: 18px;}
a.h6:visited{font: lighter 120% Arial, Helvetica, sans-serif;color: #d3d9e6;line-height: 18px;}
a.h6:hover{font: lighter 120% Arial, Helvetica, sans-serif;color: #ffffff; line-height: 18px;}
a.h6:active{font: lighter 120% Arial, Helvetica, sans-serif;color: #d3d9e6;line-height: 18px;}




#container2 {
	margin: auto;width: 265px; overflow: hidden; margin-left: -17px;

}

#header2 {
	background-image: url(images/headerpng);
	background-repeat: no-repeat;
	height: 42px;
	width: 490px;
	margin-bottom: 20px;
}

#button2 {
	height: 32px;
	width: 184px;
	margin: auto;
}

ul, li {
	margin:0; 
	padding:0; 
	list-style:none;
}

.menu_class {
	border:1px solid #1c1c1c;
}

.the_menu {
	display:none;
	width:300px;
	border: 1px solid #1c1c1c;
}

.the_menu li {
	background-color: #302f2f;
}

.the_menu li a {
	color:#FFFFFF; 
	text-decoration:none; 
	padding:10px; 
	display:block;
}

.the_menu li a:hover {
	padding:10px;
	font-weight:bold;
	color: #F00880;
}

.come2gether{
	font-size: 14px;
	color: #dc7d00;
}



.schrift{ font-family: 'Muli', Georgia, "Times New Roman", Times, serif;  font-size: 12px; color: #4662ae;}




hr{
 border: 0px; /* Für Firefox und Opera */
 border-top: solid 1px #ffffff;
 border-bottom: solid 1px #6980b3; /* Für I.Explorer (Seiten-Hintergrundfarbe!) */
}




	div#myboxleft{

width: 200px;

background-color: #efefef;
webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; -webkit-box-shadow: 1px 1px 2px #000000;
 	margin-bottom:40px; z-index:120; float: left; margin-left:-20px; 
	   
	   
	       margin-left: 1px;
		margin-right: 10px;
		margin-bottom: 2px;
			margin-top: 10px;
	}
	
	
		div#myboxright{

width: 200px;

background-color: #e8e8e8;
webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; -webkit-box-shadow: 1px 1px 2px #000000;
 	margin-bottom:40px; z-index:99;  float: right; 
    margin-left: 10px;
	    margin-right: 0px;
		margin-bottom: 2px;
			margin-top: 5px;  
	}

	div#paybal{
	float:right; margin-left: 15px; margin-top: 15px;
	}




.info {padding-left:18px;  padding-right:12px; padding-top:12px; padding-bottom:10px; font-weight:400; line-height:14px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial Arial, Helvetica, sans-serif;font-size:12px;
	color: #e5842c;	
	text-decoration: none;

}

a.info:link {padding-left:2px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial Arial, Helvetica, sans-serif;font-size:10px;line-height:16px; 
	color: #6980b3; font-weight:600;	
	text-decoration: none;
}
a.info:visited {
	color: #6980b3;text-decoration: none;
}
a.info:hover {
	color: #4662ae;text-decoration: none;
}
a.info:active {
	color: #6980b3  ;text-decoration: none;
}

.info-header {  padding-right:6px; padding-top:10px; padding-bottom:12px; font-weight:400; line-height:12px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial Arial, Helvetica, sans-serif;font-size:14px;
	color: #e5842c; font-weight:bold;
	text-decoration: none;

}



div#hotline{

width: 550px;

background-color: #ffffff;
webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; -webkit-box-shadow: 1px 1px 2px #000000;
 	margin-bottom:5px; margin-right:10px; z-index:150;
    margin-left: 18px;
			margin-top: 15px;  
}



.hotline {padding-left:35px;  padding-right:20px; padding-top:6px; padding-bottom:5px; font-weight:400; line-height:14px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial Arial, Helvetica, sans-serif;font-size:12px;
	color: #e5842c;	
	text-decoration: none;

}

a.hotline:link {padding-left:20px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial Arial, Helvetica, sans-serif;font-size:10px;line-height:16px; 
	color: #6980b3; font-weight:600;	
	text-decoration: none;
}
a.hotline:visited {
	color: #6980b3;text-decoration: none;
}
a.hotline:hover {
	color: #4662ae;text-decoration: none;
}
a.hotline:active {
	color: #6980b3  ;text-decoration: none;
}

.hotline-header {  padding-right:6px; padding-top:10px; padding-bottom:12px; font-weight:400; line-height:12px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial Arial, Helvetica, sans-serif;font-size:14px;
	color: #e5842c; font-weight:bold;
	text-decoration: none;

}

.blog_erwin {
	background-image: url(./images-new-10in2/erwin-blog2.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.blog_josef {
	background-image: url(./images-new-10in2/josef-vogel-bloggt.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.blog_thomas {
	background-image: url(./images-new-10in2/thomas-vydra-bloggt.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.blog_sulise {
	background-image: url(./images-new-10in2/sulise-blog.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
div.art-postcontent p a {float:left !important; margin-right: 15px; margin-bottom: 25px;}
h2.art-postheader {clear:both;}
.art-post {margin-bottom:150px;}
