.datatable > tbody > tr:nth-child(odd)  {
    background-color: silver;
}

.datatable > tbody > #datatableSelected {
    background-color: aliceblue;
}


.actionbar {
    white-space: nowrap;
    margin: 0px 0px;
    padding: 0px 8px;	
    background-color: lightslategrey;
    border-radius: 10px;
}
.actionbar > button {
    margin: 0px;
    padding: 0px;
}

.actionbar > button {
    display: inline-block;
    padding: 2px;

    background: transparent;
    border:0px;
}


.row_selected {
    border: 5px black solid !important;
    border-radius: 10px !important;
    background-color: rgb(133, 187, 234) !important;
}