
TH {
    text-align: right;
    padding-right: 10px;
    vertical-align:middle;
}

TD {
    vertical-align:middle;
}

input {
    vertical-align: baseline;
}

.spacer {
    height: 5px
}

.th {
    padding: 5px 8px;
    border-radius: 10px;
    background-color: grey;
    
}

.form_message_SLOT {
    padding: 10px;
}
.form_message {
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}
.form_message_okay {
    background-color: green;
}
.form_message_error {
    background-color: darkred;
    color: red;
}
.form_message_submitting {
    background-color: silver;
}
