.errorDialog p { margin: 15px 10px 15px 10px; text-align: center; }

.infoDialog .bootbox-body { padding-top: 20px; }

.infoDialog p { margin: 10px 0 10px 0; }

.infoDialog h1.infoTitle { padding-bottom: 5px; border-bottom: 1px solid #b4b4b4; font-family: primaryNormal; color: #378bb9; font-size: 24px; }

.colorNCGreen { color: #14AEA8; }

.alertDialog .modal-body { padding: 18px 18px 0 18px; }

.alertDialog .modal-footer { border-top: 0; text-align: center; margin: 0; padding: 0 0 18px 0; }

.alertDialog .btn { text-align: center; margin: 0 auto 0 auto; font-size: 14px; }

.colorNCGreen { color: #14AEA8; }

.btn-primary-light { color: #000 !important; background-color: #ebf3f8; }

a:focus, input:focus, select:focus, button:focus { outline: none; }

.text_small { font-size: 11px; }

.nutf_subnav { display: none; }

.nutf_maincontent { padding-bottom: 20px; }

.nutf_leftcontent, .nutf_rightcontent { display: none; }

#forumBodyDisplay { display: none; }

.nutf_gradient { background: linear-gradient(#2987b0, #12b7a7); background-image: linear-gradient(#2987b0, #12b7a7); }

.nutf_circle_ellipsis { width: 25px; height: 25px; border-radius: 50%; border: 2px solid #fff; text-align: center; color: #fff; display: flex; align-items: center; justify-content: center; cursor: pointer; text-decoration: none !important; }

.nutf_gutter_m { padding: 18px 18px 18px 18px; }

.nutf_gutter_ml { margin-left: 18px; }

.nutf_gutter_mr { margin-right: 18px; }

.nutf_gutter_mt { margin-top: 18px; }

.nutf_gutter_mb { margin-bottom: 18px; }

.nutf_gutter_p { padding: 18px 18px 18px 18px; }

.nutf_gutter_pl { margin-left: 18px; }

.nutf_gutter_pr { margin-right: 18px; }

.nutf_gutter_pt { margin-top: 18px; }

.nutf_gutter_pb { margin-bottom: 18px; }

.nutf_indent_l { margin-left: 73px; }

.nutf_indent_r { margin-right: 55px; }

.nutf_actionbuttons { cursor: pointer; background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/sprites/action_buttons3.png"); background-repeat: no-repeat; background-size: 77px 104px; height: 25px; width: 25px; }

.nutf_actionbuttons.nutf_goback { background-position: 0 -26px; }

.nutf_actionbuttons.nutf_gobacksm { background-position: -26px -26px; }

.nutf_actionbuttons.nutf_gopost { background-position: -26px -78px; }

.nutf_actionbuttons.nutf_goreply { background-position: -26px -52px; }

.nutf_btnlg { display: none; }

.nutf_faprimary { color: #378bb9; font-size: 24px; text-decoration: none !important; }

.nutf_headerbar { background: linear-gradient(#2987b0, #12b7a7); background-image: linear-gradient(#2987b0, #12b7a7); padding: 8px 18px 8px 18px; }

.nutf_headerbar h2 { text-align: center; color: #fff; font-family: primaryNormal; font-weight: normal; font-size: 24px; padding: 0; margin: 0; }

.nutf_headerbar .nutf_spanlink { color: #fff; }

.nutf_headerbar a { text-decoration: none; color: #fff !important; }

.nutf_headerbar a:hover { text-decoration: underline; }

.nutf_forumhdr { position: fixed; background-color: #ebf3f8; width: 100%; padding: 10px 18px 10px 18px; min-height: 50px; border-bottom: 1px solid #d5eeec; }

.nutf_forumhdr.nutf_forumhdr_static { position: static !important; }

.nutf_forumhdr h2 { text-align: center; margin: 0; padding: 0; font-family: primaryNormal; font-size: 24px; color: #378bb9; }

.nutf_forumhdr p { display: none; }

.nutf_forumhdr .nutf_goback { float: left; }

.nutf_forumboard15 [data-newpost="15"] { display: none !important; }

.nutf_forumreplies10 [data-comment="display"], .nutf_forumreplies12 [data-comment="display"], .nutf_forumreplies15 [data-comment="display"] { display: none !important; }

.nutf_forumreplies10 .nutf_goback.nutf_gutter_mr, .nutf_forumreplies12 .nutf_goback.nutf_gutter_mr, .nutf_forumreplies15 .nutf_goback.nutf_gutter_mr { margin-right: 0 !important; }

.display_newquestion { display: none; }

.nutf_forumboard10 .display_newquestion, .nutf_forumboard12 .display_newquestion { display: inline; }

.nutf_forumboard10 .display_newpost, .nutf_forumboard12 .display_newpost { display: none; }

.nutf_threadrow10 .profile_link, .nutf_threadrow12 .profile_link, .nutf_threadrow15 .profile_link { pointer-events: none; cursor: default; }

.nutf_forumIconList { padding: 0; margin: 0; }

.nutf_forumIconList .nut_blockLink { height: 35px; line-height: 35px; }

.nutf_forumIconList li:last-child .nut_blockLink { border-bottom: none; }

.nutf_forumIconList li { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/sprites/forum_iconsv6.png"); background-repeat: no-repeat; background-size: 23px 698px; margin: 0; font-size: 12px; list-style: none; padding-left: 18%; }

.nutf_forumIconList li a, ul.blockLinks li a { display: block; border-bottom: 1px solid #dfdfdf; text-decoration: none; }

.nutf_forumIconList li a:hover, ul.blockLinks li a:hover { text-decoration: underline; }

.nutf_forumIconList li a.noborder, ul.blockLinks li a.noborder, ul.iconList li:last-child a, ul.iconList li:last-child span { border-bottom: none !important; }

.nutf_forumIconList #myposts { background-position: 0 0; }

.nutf_forumIconList #allforums { background-position: 0 -27px; }

.nutf_forumIconList #boots { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/icons/bootsdiets_sml.png"); }

.nutf_forumIconList #newjoins { background-position: 0 -56px; }

.nutf_forumIconList #generalchat { background-position: 0 -88px; }

.nutf_forumIconList #humour { background-position: 0 -118px; }

.nutf_forumIconList #longterm { background-position: 0 -150px; }

.nutf_forumIconList #maintainers { background-position: 0 -181px; }

.nutf_forumIconList #weighinsandprogress { background-position: 0 -213px; }

.nutf_forumIconList #success { background-position: 0 -243px; }

.nutf_forumIconList #challenges { background-position: 0 -274px; }

.nutf_forumIconList #exercise { background-position: 0 -304px; }

.nutf_forumIconList #recipes { background-position: 0 -336px; }

.nutf_forumIconList #buddy { background-position: 0 -367px; }

.nutf_forumIconList #bestbuys { background-position: 0 -397px; }

.nutf_forumIconList #fitnessexpert { background-position: 0 -428px; }

.nutf_forumIconList #nutritionexpert { background-position: 0 -460px; }

.nutf_forumIconList #styleexpert { background-position: 0 -491px; }

.nutf_forumIconList #inbox { background-position: 0 -523px; }

.nutf_forumIconList #create { background-position: 0 -553px; }

.nutf_forumIconList #sent { background-position: 0 -585px; }

.nutf_forumIconList #friends { background-position: 0 -615px; }

.nutf_forumIconList #groups { background-position: 0 -644px; }

.nutf_forumbody { margin: 0 1px 0 1px; padding-top: 50px; }

.nutf_bottomfixed { display: none; }

#nutf_sitenav_sm, .nutf_forumhdr { z-index: 9999; }

.nutf_hdrsm { background-color: #ebf3f8; width: 100%; padding: 10px 18px 10px 18px; height: 45px; }

.nutf_postrow { display: table; width: 100%; min-height: 73px; padding: 0 50px 0 18px; text-decoration: none !important; background: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/post_arrow_right.png") no-repeat; background-position: right 10px center; background-size: 25px 25px; }

.nutf_postrow .nutf_postpreview { display: table-row; }

.nutf_postrow:hover { background-color: #ebf3f8; }

.nutf_postrow .nutf_postdetails { display: none; vertical-align: middle; }

.nutf_postrow .nutf_postdate { display: none; }

.nutf_postrow .nutf_sender { vertical-align: middle; display: none; }

.nutf_postrow .nutf_avatarcol { display: table-cell; padding: 5px 0 5px 0; width: 70px; border-bottom: 1px solid #fff !important; }

.nutf_postrow:hover .nutf_avatarcol { border-bottom: 1px solid #ebf3f8 !important; }

.nutf_postrow .nutf_avatarcol img { width: 45px; }

.nutf_postrow .nutf_postsubject { vertical-align: middle; display: table-cell; font-size: 13px; border-bottom: 1px solid #ebf3f8; }

.nutf_searchrow { display: block; text-decoration: none; }

.nutf_searchrow:hover { background-color: #ebf3f8; }

.nutf_searchrow:hover .nutf_avatarcol { border-bottom: 1px solid #ebf3f8 !important; }

.nutf_searchrow .nutf_postrow { background-position: right 10px top 24px; }

.nutf_searchrow .nutf_postrow div { border-bottom: 0; }

.nutf_searchrow .nutf_searchsummary { margin: 0 50px 0 88px; border-bottom: 1px solid #ebf3f8; }

.nutf_searchrow .nutf_searchsummary p { margin: 5px 0 5px 0; font-size: 12px; }

.nutf_postdate { font-size: 11px; color: #b4b4b4; }

.nutf_avatarcol { flex: 0 0 90px; padding: 5px 18px 0 10px; }

.nutf_avatarimg, .nutf_expertimg { object-fit: cover; border-radius: 50%; background-repeat: no-repeat; background-position: center center; background-size: cover; height: 120px; width: 120px; }

.nutf_avatarcol .nutf_avatarimg, .nutf_avatarcol .nutf_expertimg { width: 62px; height: 62px; }

.nutf_expertimg { display: none; background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/sprites/forum_iconsv6.png"); background-repeat: no-repeat; background-size: 46px 1396px; }

.nutf_postrow10 .nutf_expertimg10 { display: block; background-position: 8px -924px; }

.nutf_postrow12 .nutf_expertimg12 { display: block; background-position: 8px -862px; }

.nutf_postrow15 .nutf_expertimg15 { display: block; background-position: 8px -985px; }

.nutf_postrow10 .nutf_avatarimg { display: none; }

.nutf_postrow12 .nutf_avatarimg { display: none; }

.nutf_postrow15 .nutf_avatarimg { display: none; }

.nutf_threadrow10 .nutf_expertimg10 { display: block; background-position: 0 -924px; }

.nutf_threadrow12 .nutf_expertimg12 { display: block; background-position: 0 -862px; }

.nutf_threadrow15 .nutf_expertimg15 { display: block; background-position: 0 -985px; }

.nutf_threadrow10 .nutf_avatarimg { display: none; }

.nutf_threadrow12 .nutf_avatarimg { display: none; }

.nutf_threadrow15 .nutf_avatarimg { display: none; }

.nutf_postsubject { font-size: 14px; margin: 3px 0 3px 0; }

.nutf_postdetails { margin-bottom: 15px; font-size: 12px; }

.nutf .replyfrom { color: #378bb9; margin: 6px 0 3px 0; font-size: 12px; }

.nutf .replyfrom span { color: #f09403; }

.nutf_sender { color: #f09403; display: inline-block; }

.nutf_hdrtitle { margin: 14px 55px 0 18px; padding: 5px 0 0 0; }

.nutf_hdrtitle h2 { padding: 4px 0 14px 55px; margin: 0; color: #378bb9; font-family: primaryBold; font-size: 24px; background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/sprites/forum_iconsv6.png"); background-repeat: no-repeat; background-size: 46px 1396px; background-position: 0 -6px; }

.nutf_hdrtitle h2.signin { background-image: url(//d2lhwe7okuon6r.cloudfront.net/media/forum/images/icons/signin_lrg.png) !important; background-size: 50px 50px; background-position: 0 0; }

.nutf_hdrtitle p { font-size: 12px; padding: 0 0 0 55px; margin-bottom: 0; }

.nutf_hdrbar { height: 20px; line-height: 20px; font-size: 14px; margin: 18px 1px 0 1px; }

.nutf_newpost_body { padding: 18px; }

.nutf_newpost_label { font-weight: bold; margin: 0 0 6px 0; }

.nutf_newpost_input .form-control { background-color: #EBF3F8; }

.nutf_newpost_formrow { margin-bottom: 18px; }

.nutf_newpost_formrow:last-child { margin-bottom: 0; }

.nutf_postdeleted { font-size: 12px; font-style: italic; color: #8d8d8d; }

.nutf_pinned { margin: 4px 18px 0 0; cursor: pointer; background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/sprites/pinned.png"); background-size: 19px 39px; height: 19px; width: 19px; display: none; background-repeat: no-repeat; }

.nutf_ispinned .nutf_pinned { display: inline-block; margin-top: 0; }

.nutf_ispinned { background-position: 0 -0.5px; }

.nutf_unpinned { background-position: 0 -20px; }

.nutf_views { color: #378bb9; background: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/post_views_icon.png") no-repeat right 2px; background-size: 17px 8px; display: inline-block; padding-right: 20px; margin-left: 18px; }

.nutf_replies { color: #378bb9; background: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/post_replies_icon.png") no-repeat right 1px; background-size: 12px 11px; display: inline-block; padding-right: 14px; }

.nutf_newpost { display: inline-block; padding: 1px 4px 0px 4px; border: 1px solid #cd0000; border-radius: 4px; color: #cd0000; font-size: 9px; margin-left: 3px; }

.nutf_updatedpost { display: inline-block; padding: 1px 4px 0px 4px; border: 1px solid #f09403; border-radius: 4px; color: #f09403; font-size: 9px; margin-left: 3px; }

.nutf_poststatus_sm, .nutf_views_sm, .nutf_replies_sm { display: inline; }

.nutf_poststatus_lg, .nutf_views_lg, .nutf_replies_lg { display: none; }

.myPostsEmpty { display: none; }

.nutfo_myposts .myPostsEmpty { display: block; }

.nutf_spinner { width: 40px; height: 40px; margin: 40px auto 0 -25px; position: absolute; left: 50%; }

div[id*="loadMoreTarget"] .nutf_spinner { margin-top: -40%; }

.nutf_loadmore { padding-top: 18px; text-align: center; }

.nutf_views { color: #378bb9; background: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/post_views_icon.png") no-repeat right 2px; background-size: 17px 8px; display: inline-block; padding-right: 20px; margin: 0 3px 0 4px; }

.nutf_replies { color: #378bb9; background: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/post_replies_icon.png") no-repeat right 1px; background-size: 11px 10px; display: inline-block; padding-right: 14px; }

.nutf_newpost { display: inline-block; padding: 1px 4px 0px 4px; border: 1px solid #cd0000; border-radius: 4px; color: #cd0000; font-size: 9px; margin-left: 3px; }

.nutf_noborder { border: none !important; }

.nutf_threadrow { margin: 18px; border-bottom: 1px solid #d5eeec; }

.nutf_threadrow .nutf_message { padding: 10px 0 18px 0; word-wrap: break-word; }

.nutf_threadrow .nutf_message img { max-width: 100% !important; height: auto !important; }

.nutf_threadrow .nutf_avatarcol { padding: 0 18px 0 0; }

.nutf_threadrow .nutf_postsubject { border-bottom: 2px solid #f1efef; font-weight: bold; padding: 10px 0 5px 0; margin: 0; }

.nutf_threadrow .nutf_avatarcol, .nutf_threadrow .nutf_postdate { flex: 0 1 auto; display: block; }

.nutf_threadrow15 .nutf_postdate_lg, .nutf_threadrow15 .nutf_postdate_xs, .nutf_postrow15 .nutf_postdate_lg, .nutf_postrow15 .nutf_postdate_xs, .nutf_threadrow10 .nutf_postdate_lg, .nutf_threadrow10 .nutf_postdate_xs, .nutf_postrow10 .nutf_postdate_lg, .nutf_postrow10 .nutf_postdate_xs, .nutf_threadrow12 .nutf_postdate_lg, .nutf_threadrow12 .nutf_postdate_xs, .nutf_postrow12 .nutf_postdate_lg, .nutf_postrow12 .nutf_postdate_xs { display: none !important; }

.nutf_poster_options { cursor: pointer; color: #b4b4b4; }

.nutf_poster_options:hover { color: #378bb9; }

.nutf_btn_minwidth { min-width: 120px; }

.nutf_actionbuttons.nutf_cancel { background-position: 0 0; }

.nutf_editcomment { margin: 0 0 18px 0; }

.nutf_editcomment .fontPrimaryNormal, .nutf_newrelpy .fontPrimaryNormal { font-size: 18px; padding-top: 2px; }

.nutf_newrelpy .nutf_newpost_label, .nutf_editcomment .nutf_newpost_label, .nutf_threadrow .nutf_commenteditor { display: none; }

.loadmore .nutf_threadrow .nutf_postsubject { display: none; }

.nutf_pagi { display: none; }

.nutf_switch { display: inline-block; cursor: pointer; -webkit-tap-highlight-color: transparent; margin-bottom: 0; }

.nutf_switch span { position: relative; display: inline-block; width: 46px; height: 26px; background-color: #dbdbdb; border-radius: 23px; vertical-align: text-bottom; transition: all 0.3s linear; }

.nutf_switch span::before { content: ""; position: absolute; left: 0; width: 42px; height: 22px; background-color: #fff; border-radius: 11px; transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1); transition: all 0.25s linear; }

.nutf_switch span::after { content: ""; position: absolute; left: 0; width: 22px; height: 22px; background-color: #fff; border-radius: 11px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24); transform: translate3d(2px, 2px, 0); transition: all 0.2s ease-in-out; }

.nutf_switch:active span::after { width: 28px; transform: translate3d(2px, 2px, 0); }

.nutf_switch:active input:checked + span::after { transform: translate3d(16px, 2px, 0); }

.nutf_switch input { display: none; }

.nutf_switch input:checked + span { background-color: #11B6A8; }

.nutf_switch input:checked + span::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.nutf_switch input:checked + span::after { transform: translate3d(22px, 2px, 0); }

.nutf_spanlink { cursor: pointer; }

.nutf_spanlink:hover { text-decoration: underline; }

.nutf_spanlink.btn { text-decoration: none !important; }

.nutf_textSearchHolderMedium button { border: none; border-radius: 0 6px 6px 0; width: 50px; float: right; height: 46px; padding: 4px 4px 4px 8px; }

.nutf_textSearchHolderMedium button.bgPrimary:hover, .nutf_textSearchHolderMedium button.bgPrimary:focus, .nutf_textSearchHolderMedium button.bgPrimary:active { background-color: #0d7cb9 !important; }

.nutf_textSearchHolderMedium .nutf_textInputHolderMedium { margin-right: 50px; }

.nutf_textInputHolderMedium input { line-height: 16px; }

.nutf_textSearchHolderMedium .nutf_searchInputMedium { font-size: 16px; padding: 13px 10px 13px 10px; border: 1px solid #393939; border-radius: 6px 0 0 6px; border-right: none; width: 100%; }

.nutf_blockbtn_modal a, .nutf_blockbtn { border: none; background: transparent; padding: 8px; border-top: 1px solid #ccc; display: block; text-decoration: none; }

.nutf_blockbtn_modal a:hover, .nutf_blockbtn:hover { background: #ebf3f8; }

.nutf_blockbtn_modal h5 { padding: 18px; margin: 0; }

.searchforuminput { margin: 18px 0 0 55px; }

.profile_header { width: 100%; z-index: 999; position: fixed; height: 190px; padding: 18px; background: linear-gradient(#2987b0, #12b7a7); background-image: linear-gradient(#2987b0, #12b7a7); }

.profile_header .nutf_circle_ellipsis, .profile_header .btn_hideposts { position: absolute; right: 18px; }

.btn_hideposts { font-size: 12px; top: 18px; }

.btnLeftSM { float: left; margin-left: 18px; }

.profile_header h2 { text-align: center; color: #fff; font-family: primaryNormal; font-weight: normal; font-size: 24px; padding: 0 18px 5px 18px; margin: 0 18px 0 0; }

.profile_header.profile_header_me h2 { padding: 0 18px 5px 30px; }

.profile_body { padding-top: 208px; word-wrap: break-word; }

.profile_info_row { display: flex; margin: 0 18px 0 18px; border-bottom: 1px solid #d5eeec; font-size: 15px; padding: 8px 0 8px 0; min-height: 45px; }

.profile_info_row .nutf_switch { float: right; }

.profile_info_label { display: block; width: 25%; align-self: flex-start; margin-bottom: 0; }

.profile_info_settings .profile_info_label { width: 35%; }

.profile_info_user { padding-bottom: 8px; }

.profile_info_user .Apple-converted-space { display: none; }

.profile_info_user .profile_info_label { width: 50%; }

.profile_info_label .form-control { width: 80%; }

.profile_info_buddy .profile_info_label { width: 80%; }

.profile_info_input { width: 65%; align-self: center; color: #378bb9; }

.profile_info_settings .profile_info_input { width: 45%; }

.profile_info_awards { margin: 0 18px 0 18px; border-bottom: 1px solid #d5eeec; padding-bottom: 10px; }

.profile_info_show, .profile_aboutme_show { width: 20%; align-self: flex-start; }

#aboutMeDisplayText { align-self: flex-start; }

.profile_info_user .profile_info_input { width: 50%; text-align: right; }

.profile_info_user .profile_info_label { align-self: center; }

.profile_info_settings { padding-bottom: 18px; }

.profile_info_settings h2 { background-color: #ebf3f8; color: #378bb9; font-size: 14px; padding: 25px 18px 10px 18px; border-bottom: 1px solid #d5eeec; border-top: 1px solid #d5eeec; }

.profile_info_settings .profile_info_input { text-indent: 2px; color: #378bb9; }

.profile_info_row.profile_info_aboutme { border-bottom: none; }

.profile_switch_aboutme { cursor: pointer; float: right; margin-right: 7px; height: 25px; width: 25px; background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/menu_manualadd.png"); background-size: 25px 25px; background-repeat: no-repeat; }

.profile_info_aboutme_user { margin: 0 18px 0 18px; border-bottom: 1px solid #d5eeec; font-size: 15px; padding: 8px 0 8px 0; min-height: 45px; }

.profile_info_aboutme_user_text { padding-top: 5px; }

.profile_info_aboutme_user_text * { font-size: 13px; color: #378bb9; }

.nutf_createname .form-control { width: 50%; max-width: 250px; display: inline-block; }

.nutf_createname #forumNameValid { margin-left: 10px; }

.profile_choose_viewing { padding-top: 8px; }

.profile_showhide_text { position: absolute; right: 18px; bottom: 10px; text-align: right; color: #fff; font-size: 14px; }

.profile_avatarimg_container { width: 120px; height: 120px; margin: 0 auto 0 auto; position: relative; display: block; }

.profile_avatarimg_container img { max-width: 120px; }

.profile_avatarimg_add { width: 30px; height: 30px; background: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/plus_white_circle2.png") no-repeat; background-size: 30px 30px; position: absolute; left: 90px; top: 80px; }

.profile_info_input input.form-control { color: #378bb9; width: 80%; }

.profile_select_avatar { margin: 0 15px 15px 0; height: 90px; cursor: pointer; }

.profile_select_avatar:hover { opacity: 0.7; }

.profile_select_avatar:active { opacity: 0.7; }

.profile_user_options { margin-top: 18px; text-align: center; }

#profile_upload_photo { padding: 18px 18px 0 18px; }

#profile_upload_photo .dropzone { border: 2px solid #378bb9 !important; border-radius: 6px; }

#profile_upload_photo .fa-upload { font-size: 24px; margin-bottom: 10px; }

#profile_choose_avatar p { text-align: center; }

.nutf_forumrules { padding: 0 18px 18px 18px; }

.nutf_forumrules ol { padding-left: 16px; }

.nutf_forumrules li { margin-bottom: 5px; font-size: 12px; }

.nutf_forumrules p { font-size: 12px; }

.nutf_fIcon { background-image: url("///d2lhwe7okuon6r.cloudfront.net/media/forum/images/sprites/forum_iconsv6.png"); background-repeat: no-repeat; background-size: 23px 698px; padding-left: 30px; }

.nutf_preferences .nutf_fIcon_newjoins { background-position: 0 -60px; }

.nutf_preferences .nutf_fIcon_generalchat { background-position: 0 -93px; }

.nutf_preferences .nutf_fIcon_humour { background-position: 0 -122px; }

.nutf_preferences .nutf_fIcon_goal { background-position: 0 -153px; }

.nutf_preferences .nutf_fIcon_maintainers { background-position: 0 -184px; }

.nutf_preferences .nutf_fIcon_progress { background-position: 0 -216px; }

.nutf_preferences .nutf_fIcon_challenges { background-position: 0 -277px; }

.nutf_preferences .nutf_fIcon_exercise { background-position: 0 -308px; }

.nutf_preferences .nutf_fIcon_recipes { background-position: 0 -340px; }

.nutf_preferences .nutf_fIcon_buddy { background-position: 0 -370px; }

.nutf_preferences .nutf_fIcon_carers { background-position: 0 -402px; }

.nutf_preferences { padding: 18px 18px 0 18px; }

.nutf_preferences { padding: 18px 18px 0 18px; }

.nutf_preferences .nutf_preferences_row { border-bottom: 1px solid #ebf3f8; padding: 8px 0 8px 0; }

.nutf_preferences .nutf_fIcon { float: left; height: 27px; margin-top: 8px; }

.nutf_sidepanel { margin-bottom: 18px; }

.nutf_sidepanel h2 { color: #fff; font-family: primaryNormal; text-align: center; font-size: 19.5px; line-height: 29px; margin: 0; border-radius: 6px 6px 0 0; font-weight: 700; letter-spacing: 1.5px; padding-top: 2px; }

.nutf_sidepanel h2.nutf_forumboards { background: #c5a338; color: #fff; background: linear-gradient(90deg, #c5a338 0%, #c5a338 0%, #ba7943 100%); }

.nutf_sidepanel h2.nutf_inbox { background: #95b826; background: linear-gradient(90deg, #95b826 0%, #95b826 52%, #73a852 100%); }

.nutf_sidepanel h2.nutf_search { background-color: #858585; }

.nutf_sidepanel h2.nutf_poll { background: #c5a338; background: linear-gradient(90deg, #c5a338 0%, #1b87ac 0%, #12b9a7 100%); }

.nutf_sidepanel .nutf_panelpadding { border: 1px solid #ccc; border-radius: 0 0 6px 6px; border-top: 0; padding: 7px 12px 5px 12px; }

.nutf_sidepanel .nut_textSearchHolder { background-color: #F0F0F0; padding: 6px 0 6px 6px; margin: 0; border: 1px solid #ccc; border-radius: 0 0 6px 6px; border-top: 0; }

.nutf_sidepanel .nut_searchInput { width: 80%; }

.nutf_sidepanel .nutf_postsfilter { float: left; width: 25%; padding: 10px 3px 10px 3px; cursor: pointer; }

.nutf_sidepanel .nutf_postsfilter p { font-size: 9px; margin: 3px 0 0 0; display: none; }

.nutf_sidepanel .nutf_panelpadding { border: 1px solid #ccc; border-radius: 0 0 6px 6px; border-top: 0; padding: 7px 12px 5px 12px; }

.nutf_sidepanel .nut_searchholder { margin-right: 34px; }

.nutf_sidepanel .nut_searchholder .nut_searchInput { width: 100%; }

.nutf_sidepanel .nut_submit { float: right !important; margin-right: 5px; }

.nutf_sidepanel #polliframe { width: 154px; border: 0; overflow: hidden; margin: 0; display: block; }

.nutf_container { max-width: 1349px; margin: 0 auto 0 auto; min-width: 998px; }

.nutf_maincontent { padding: 0 18px 18px 18px; float: left; min-width: 606px; width: 60.2%; }

.nutf_mincontentheight { min-height: 487px; }

.nutf_leftcontent, .nutf_rightcontent { display: block; padding-bottom: 18px; min-width: 196px; width: 19.6%; }

.nutf_leftcontent { float: left; padding-left: 18px; }

.nutf_sidepanel .nutf_postsfilter p { font-size: 10px; display: block; }

.nutf_rightcontent { float: right; padding-right: 18px; }

.nutf_subnav { display: table; margin: 0 auto 0 auto; height: 40px; padding-top: 10px; }

.nutf_subnav ul { margin: 0; padding: 0; }

.nutf_subnav li { padding: 0; display: inline-block; margin: 0 10px 0 10px; font-size: 12px; }

.nutf_subnav.nutf_footer { padding-top: 18px; }

.nutf_subnav.nutf_footer li { margin: 0 2px 0 2px; }

.nutf_subnav a { text-decoration: none; }

.nutf_subnav a:hover { text-decoration: underline; }

.nutf_postpreview .nutf_postsubject { font-size: 14px; word-break: break-all; }

.nutf_border { border: 1px solid #ccc; border-radius: 6px; }

.nutf_border_r { border-right: 1px solid #ccc; }

.nutf_border_l { border-left: 1px solid #ccc; }

.nutf_borderradius { border-radius: 6px; }

.nutf_circle_ellipsis { width: 25px; height: 25px; border-radius: 50%; border: 2px solid #45a4c9; text-align: center; color: #45a4c9; }

.nutf_circle_ellipsis:hover { color: #378bb9; border: 2px solid #378bb9; }

.nutf_forumhdr { position: static; border-bottom: 1px solid #d5eeec; padding: 18px; background-color: #fff; height: auto; border-radius: 6px 6px 0 0; }

.nutf_forumhdr .btn-primary { display: block; }

.nutf_forumhdr .nutf_goback { float: right; }

.nutf_forumhdr .nutf_goreply { display: none; }

.nutf_forumhdr h2 { text-align: left; padding: 2px 0 10px 55px; margin: 0; color: #f09403; font-family: primaryBold; font-size: 24px; background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/sprites/forum_iconsv6.png"); background-repeat: no-repeat; background-size: 46px 1396px; background-position: 0 -6px; }

.nutf_forumhdr h2.text-primary { color: #378bb9; }

.nutf_forumhdr.nutf_threadshdr h2 { float: left; }

.nutf_forumhdr h2.hdrfid0 { background-position: 0 -68px; }

.nutf_forumhdr h2.hdrfid1 { background-position: 0 -130px; }

.nutf_forumhdr h2.hdrfid3 { background-position: 0 -194px; }

.nutf_forumhdr h2.hdrfid26 { background-position: 0 -252px; }

.nutf_forumhdr h2.hdrfid28 { background-position: 0 -314px; }

.nutf_forumhdr h2.hdrfid24 { background-position: 0 -376px; }

.nutf_forumhdr h2.hdrfid25 { background-position: 0 -440px; }

.nutf_forumhdr h2.hdrfid4 { background-position: 0 -560px; }

.nutf_forumhdr h2.hdrfid11 { background-position: 0 -625px; }

.nutf_forumhdr h2.hdrfid5 { background-position: 0 -684px; }

.nutf_forumhdr h2.hdrfid2 { background-position: 0 -746px; }

.nutf_forumhdr h2.hdrfid27 { background-position: 0 -809px; }

.nutf_forumhdr h2.hdrfid12 { background-position: 0 -868px; }

.nutf_forumhdr h2.hdrfid10 { background-position: 0 -932px; }

.nutf_forumhdr h2.hdrfid15 { background-position: 0 -994px; }

.nutf_forumhdr h2.hdrfid100 { background-position: 0 -1352px; }

.nutf_forumhdr h2.hdrfid102 { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/filter_newposts.png"); background-repeat: no-repeat; background-size: 50px 50px; background-position: 0 -8px; }

.nutf_forumhdr h2.hdrfid101 { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/filter_updated.png"); background-repeat: no-repeat; background-size: 50px 50px; background-position: 0 -8px; }

.nutf_forumhdr h2.hdrfid103 { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/forum/images/parts/filter_mine.png"); background-repeat: no-repeat; background-size: 50px 50px; background-position: 0 -8px; }

.nutf_forumhdr h2.forumSignin { background-image: url(//d2lhwe7okuon6r.cloudfront.net/media/forum/images/icons/signin_lrg.png) !important; background-size: 45px 45px; background-position: 0 0; }

.nutf_forumhdr p { padding-left: 55px; margin: 0; font-weight: bold; display: block; }

.nutf_forumhdr .nutf_goback { float: right; }

.profile_header { position: relative; z-index: auto; }

.profile_body { padding-top: 0; }

.profile_header h2 { color: #378bb9; margin-right: 0; padding: 0 180px 5px 180px; }

.profile_header.profile_header_me h2 { padding: 0 18px 5px 18px; }

.profile_header { border-radius: 6px 6px 0 0; min-height: 180px; height: auto; padding: 10px 0 20px 0; background: none; background-color: #ebf3f8; }

.profile_info_save { color: #378bb9; font-size: 12px; }

.profile_showhide_text { display: none; }

.profile_header [data-profileswitch="showhide"] { display: none; }

.profile_select_avatar { height: 80px; }

#profile_choose_avatar p { text-align: left; }

.nutf_headerbar { background: #ebf3f8; }

.nutf_headerbar h2 { color: #378bb9; }

.nutf_headerbar .nutf_spanlink { color: #378bb9; }

.nutf_headerbar a { text-decoration: none; color: #378bb9 !important; }

.nutf_hidedesktop { display: none !important; }

.nutf_bottomfix { position: relative; padding-bottom: 48px !important; }

.nutf_bottomfixed { position: absolute; width: 100%; bottom: 18px; display: block; }

.nutf_forumbody { padding-top: 0; }

.nutf_newrelpy { padding-top: 10px; }

.nutf_newpost_formrow { display: flex; flex-direction: row; }

.nutf_newpost_input { flex-grow: 1; }

.nutf_newpost_label { width: 15%; text-align: right; padding: 10px 18px 0 0; }

.nutf_hdrsm { padding: 0; background-color: transparent; height: auto; }

.nutf_btnsm { display: none; }

.nutf_btnlg { display: inline-block; }

#nutf_sitenav_sm { display: none !important; }

.nutf_postrow .nutf_postsubject { font-size: 14px; }

.nutf_postrow .nutf_postdate { vertical-align: middle; display: table-cell; font-size: 11px; color: #b4b4b4; width: 140px; text-align: right; border-bottom: 1px solid #d5eeec; }

.nutf_postrow .nutf_avatarcol img { width: 54px; }

.nutf_postrow:last-child { margin-bottom: 18px; }

.nutf_postdate_xs { display: none; }

.nutf_poststatus_sm, .nutf_views_sm, .nutf_replies_sm { display: none; }

.nutf_poststatus_lg, .nutf_views_lg, .nutf_replies_lg { display: inline; }

.nutf_pagi { display: block; }

.nutf_pagi ul { margin: 0 0 18px 0; padding: 0; }

.nutf_pagi li { list-style: none; display: inline-block; color: #378bb9; margin: 0 2px 0 2px; }

.nutf_pagi li a { color: #378bb9; text-decoration: none; }

@media (min-width: 1200px) { .nutf_maincontent { width: 60.8%; }
  .nutf_leftcontent, .nutf_rightcontent { width: 19.6%; }
  .nutf_sender_sm { display: none; }
  .nutf_mincontentheight { min-height: 706px; }
  .nutf_sidepanel .nutf_panelpadding { padding: 7px 7.5% 5px 7.5%; }
  .nutf_postrow .nutf_postpreviewrow { display: table-row; }
  .nutf_postrow .nutf_postdetails { font-size: 12px; width: 100px; border-bottom: 1px solid #d5eeec; display: table-cell; text-align: right; vertical-align: middle; }
  .nutf_postrow .nutf_postdate { font-size: 11px; color: #b4b4b4; text-align: right; }
  .nutf_postrow .nutf_sender { display: table-cell; padding-right: 18px; width: 110px; max-width: 110px; border-bottom: 1px solid #d5eeec; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; }
  .nutf_postrow .nutf_avatarcol { padding: 5px 0 5px 0; width: 76px; border-bottom: 1px solid #fff !important; }
  .nutf_postrow .nutf_avatarcol img { width: 56px; }
  .nutf_postrow .nutf_postsubject { font-size: 14px; }
  .nutf_sender_sm { display: none; }
  .nutf_sidepanel #polliframe { width: auto; } }
/* .nutf_container{padding-bottom:60px;} // for the menu
#nutf_navbar_sm{}
#nutf_navbar_sm ul.nav.navbar-nav{margin: 0 auto 0 auto;display: table;float: none;width: auto;}
#nutf_navbar_sm ul.nav.navbar-nav li{padding:5px;margin-left:5px;margin-right:5px;}
#nutf_navbar_sm #menu_forum, #nutf_navbar_sm .menu_text_md, #nutf_navbar_sm .dropdown-menu{display:none !important;}
#nutf_navbar_sm .menuIcon{background-size:64px 452.6px;height:30px;width:30px;}
#nutf_navbar_sm #menuIconDiary { background-position: 0 -179px; }
#nutf_navbar_sm #menuIconProfile { background-position: 0 -214px; }
#nutf_navbar_sm #menuIconRecipes { background-position: 0 -249px; }
#nutf_navbar_sm #menuIconWeighIn { background-position: 0 -283px; }
#nutf_navbar_sm #menuIconResources{ background-position: 0 -358px; }
#nutf_navbar_sm #menuIconSupport{background-position:0 -390px;}
#MainContentForums{width:auto;margin:0;}
.nutf_container{width:auto;margin:0;min-width:0;max-width:none;}
#SubNav, .nutf_leftcontent, .nutf_rightcontent,header{display:none;}
.nutf_maincontent{margin:0;padding-left:0;min-height:0;width:auto;float:none;} */
/* lib overwrites */
.btn { white-space: nowrap; }

.tox .tox-edit-area__iframe { background-color: #EBF3F8 !important; }

.tox .tox-statusbar__text-container { display: none !important; }

.tox-dialog__body-nav { display: none !important; }

.bootbox-confirm .modal-footer { justify-content: space-between; }

/* end overwrites */
/*!
 * Cropper.js v1.5.11
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2021-02-17T11:53:21.992Z
 */
#modalCropPhoto .modal-lg, #modalCropPhoto .modal-content { width: 800px; }

.img-preview { height: 200px !important; width: 200px !important; overflow: hidden; border-radius: 50%; float: right; margin: 18px -14px 18px 0; border: 1px solid #ccc; }

.preview-avatar { color: #378BB9; text-align: center; margin-bottom: 0; font-size: 26px; font-family: primaryNormal; }

.preview-container { max-width: 200px; float: right; text-align: center; padding-right: 30px; }

.preview-text { display: none; }

.image-container { margin-right: 240px; display: none; }

.cropper-container { direction: ltr; font-size: 0; line-height: 0; position: relative; -ms-touch-action: none; touch-action: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; float: left; }

.cropper-container img { display: block; height: 100%; image-orientation: 0deg; max-height: none !important; max-width: none !important; min-height: 0 !important; min-width: 0 !important; width: 100%; }

.cropper-wrap-box, .cropper-canvas, .cropper-drag-box, .cropper-crop-box, .cropper-modal { bottom: 0; left: 0; position: absolute; right: 0; top: 0; }

.cropper-wrap-box, .cropper-canvas { overflow: hidden; }

.cropper-drag-box { background-color: #fff; opacity: 0; }

.cropper-modal { background-color: #000; opacity: 0.5; }

.cropper-view-box { display: block; height: 100%; outline: 1px solid #39f; outline-color: rgba(51, 153, 255, 0.75); overflow: hidden; width: 100%; }

.cropper-dashed { border: 0 dashed #eee; display: block; opacity: 0.5; position: absolute; }

.cropper-dashed.dashed-h { border-bottom-width: 1px; border-top-width: 1px; height: calc(100% / 3); left: 0; top: calc(100% / 3); width: 100%; }

.cropper-dashed.dashed-v { border-left-width: 1px; border-right-width: 1px; height: 100%; left: calc(100% / 3); top: 0; width: calc(100% / 3); }

.cropper-center { display: block; height: 0; left: 50%; opacity: 0.75; position: absolute; top: 50%; width: 0; }

.cropper-center::before, .cropper-center::after { background-color: #eee; content: ' '; display: block; position: absolute; }

.cropper-center::before { height: 1px; left: -3px; top: 0; width: 7px; }

.cropper-center::after { height: 7px; left: 0; top: -3px; width: 1px; }

.cropper-face, .cropper-line, .cropper-point { display: block; height: 100%; opacity: 0.1; position: absolute; width: 100%; }

.cropper-face { background-color: #fff; left: 0; top: 0; }

.cropper-line { background-color: #39f; }

.cropper-line.line-e { cursor: ew-resize; right: -3px; top: 0; width: 5px; }

.cropper-line.line-n { cursor: ns-resize; height: 5px; left: 0; top: -3px; }

.cropper-line.line-w { cursor: ew-resize; left: -3px; top: 0; width: 5px; }

.cropper-line.line-s { bottom: -3px; cursor: ns-resize; height: 5px; left: 0; }

.cropper-point { background-color: #39f; height: 5px; opacity: 0.75; width: 5px; }

.cropper-point.point-e { cursor: ew-resize; margin-top: -3px; right: -3px; top: 50%; }

.cropper-point.point-n { cursor: ns-resize; left: 50%; margin-left: -3px; top: -3px; }

.cropper-point.point-w { cursor: ew-resize; left: -3px; margin-top: -3px; top: 50%; }

.cropper-point.point-s { bottom: -3px; cursor: s-resize; left: 50%; margin-left: -3px; }

.cropper-point.point-ne { cursor: nesw-resize; right: -3px; top: -3px; }

.cropper-point.point-nw { cursor: nwse-resize; left: -3px; top: -3px; }

.cropper-point.point-sw { bottom: -3px; cursor: nesw-resize; left: -3px; }

.cropper-point.point-se { bottom: -3px; cursor: nwse-resize; height: 20px; opacity: 1; right: -3px; width: 20px; }

@media (min-width: 768px) { .cropper-point.point-se { height: 15px; width: 15px; } }
@media (min-width: 992px) { .cropper-point.point-se { height: 10px; width: 10px; } }
@media (min-width: 1200px) { .cropper-point.point-se { height: 5px; opacity: 0.75; width: 5px; } }
.cropper-point.point-se::before { background-color: #39f; bottom: -50%; content: ' '; display: block; height: 200%; opacity: 0; position: absolute; right: -50%; width: 200%; }

.cropper-invisible { opacity: 0; }

.cropper-bg { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC"); }

.cropper-hide { display: block; height: 0; position: absolute; width: 0; }

.cropper-hidden { display: none !important; }

.cropper-move { cursor: move; }

.cropper-crop { cursor: crosshair; }

.cropper-disabled .cropper-drag-box, .cropper-disabled .cropper-face, .cropper-disabled .cropper-line, .cropper-disabled .cropper-point { cursor: not-allowed; }

@-webkit-keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@-moz-keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@-webkit-keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@-moz-keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@-moz-keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
.dropzone, .dropzone * { box-sizing: border-box; }

.dropzone { min-height: 100px; border: 1px solid #d5eeec; background: white; padding: 18px; border-radius: 6px; }

.dropzone.dz-clickable { cursor: pointer; }

.dropzone.dz-clickable * { cursor: default; }

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * { cursor: pointer; }

.dropzone.dz-started .dz-message { display: none; }

.dropzone.dz-drag-hover { border-style: solid; }

.dropzone.dz-drag-hover .dz-message { opacity: 0.5; }

.dropzone .dz-message { text-align: center; margin: 2em 0; color: #378bb9; }

.dropzone .dz-message .dz-button { background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit; }

.dropzone .dz-preview { position: relative; display: inline-block; vertical-align: top; margin: 16px; min-height: 100px; }

.dropzone .dz-preview:hover { z-index: 1000; }

.dropzone .dz-preview:hover .dz-details { opacity: 1; }

.dropzone .dz-preview.dz-file-preview .dz-image { border-radius: 20px; background: #999; background: linear-gradient(to bottom, #eee, #ddd); }

.dropzone .dz-preview.dz-file-preview .dz-details { opacity: 1; }

.dropzone .dz-preview.dz-image-preview { background: white; }

.dropzone .dz-preview.dz-image-preview .dz-details { -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -ms-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }

.dropzone .dz-preview .dz-remove { font-size: 14px; text-align: center; display: block; cursor: pointer; border: none; }

.dropzone .dz-preview .dz-remove:hover { text-decoration: underline; }

.dropzone .dz-preview:hover .dz-details { opacity: 1; }

.dropzone .dz-preview .dz-details { z-index: 20; position: absolute; top: 0; left: 0; opacity: 0; font-size: 13px; min-width: 100%; max-width: 100%; padding: 2em 1em; text-align: center; color: rgba(0, 0, 0, 0.9); line-height: 150%; }

.dropzone .dz-preview .dz-details .dz-size { margin-bottom: 1em; font-size: 16px; }

.dropzone .dz-preview .dz-details .dz-filename { white-space: nowrap; }

.dropzone .dz-preview .dz-details .dz-filename:hover span { border: 1px solid rgba(200, 200, 200, 0.8); background-color: rgba(255, 255, 255, 0.8); }

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) { overflow: hidden; text-overflow: ellipsis; }

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span { border: 1px solid transparent; }

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span { background-color: rgba(255, 255, 255, 0.4); padding: 0 0.4em; border-radius: 3px; }

.dropzone .dz-preview:hover .dz-image img { -webkit-transform: scale(1.05, 1.05); -moz-transform: scale(1.05, 1.05); -ms-transform: scale(1.05, 1.05); -o-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); -webkit-filter: blur(8px); filter: blur(8px); }

.dropzone .dz-preview .dz-image { border-radius: 20px; overflow: hidden; width: 120px; height: 120px; position: relative; display: block; z-index: 10; }

.dropzone .dz-preview .dz-image img { display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark { -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }

.dropzone .dz-preview.dz-error .dz-error-mark { opacity: 1; -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark { pointer-events: none; opacity: 0; z-index: 500; position: absolute; display: block; top: 50%; left: 50%; margin-left: -27px; margin-top: -27px; }

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg { display: block; width: 54px; height: 54px; }

.dropzone .dz-preview.dz-processing .dz-progress { opacity: 1; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.dropzone .dz-preview.dz-complete .dz-progress { opacity: 0; -webkit-transition: opacity 0.4s ease-in; -moz-transition: opacity 0.4s ease-in; -ms-transition: opacity 0.4s ease-in; -o-transition: opacity 0.4s ease-in; transition: opacity 0.4s ease-in; }

.dropzone .dz-preview:not(.dz-processing) .dz-progress { -webkit-animation: pulse 6s ease infinite; -moz-animation: pulse 6s ease infinite; -ms-animation: pulse 6s ease infinite; -o-animation: pulse 6s ease infinite; animation: pulse 6s ease infinite; }

.dropzone .dz-preview .dz-progress { opacity: 1; z-index: 1000; pointer-events: none; position: absolute; height: 16px; left: 50%; top: 50%; margin-top: -8px; width: 80px; margin-left: -40px; background: rgba(255, 255, 255, 0.9); -webkit-transform: scale(1); border-radius: 8px; overflow: hidden; }

.dropzone .dz-preview .dz-progress .dz-upload { background: #333; background: linear-gradient(to bottom, #666, #444); position: absolute; top: 0; left: 0; bottom: 0; width: 0; -webkit-transition: width 300ms ease-in-out; -moz-transition: width 300ms ease-in-out; -ms-transition: width 300ms ease-in-out; -o-transition: width 300ms ease-in-out; transition: width 300ms ease-in-out; }

.dropzone .dz-preview.dz-error .dz-error-message { display: block; }

.dropzone .dz-preview.dz-error:hover .dz-error-message { opacity: 1; pointer-events: auto; }

.dropzone .dz-preview .dz-error-message { pointer-events: none; z-index: 1000; position: absolute; display: block; display: none; opacity: 0; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease; border-radius: 8px; font-size: 13px; top: 130px; left: -10px; width: 140px; background: #be2626; background: linear-gradient(to bottom, #be2626, #a92222); padding: 0.5em 1.2em; color: white; }

.dropzone .dz-preview .dz-error-message:after { content: ""; position: absolute; top: -6px; left: 64px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #be2626; }
