@font-face { font-family: primaryLight; src: url("/style/fonts/FOLKS-LIGHT.woff"); }
@font-face { font-family: primaryNormal; src: url("/style/fonts/FOLKS-NORMAL.woff"); }
@font-face { font-family: primaryBold; src: url("/style/fonts/FOLKS-BOLD.woff"); }
h1, h2, h6 { margin-top: 0; }

h2 small { color: #8d8d8d; font-family: Arial,Helvetica,sans-serif !important; font-size: 12px; font-weight: normal !important; }

pre { font-family: Arial,Helvetica,sans-serif !important; }

h3, h4, h5, h6 { color: #303030; font-weight: bold; }

a, nav a:hover { text-decoration: underline; }

a:hover, nav a, a.btn { text-decoration: none; }

a.hoverUnderline { text-decoration: none; }

a.hoverUnderline:hover { text-decoration: underline !important; }

@media (min-width: 499px) { .btn:focus { outline: none !important; }
  .btn:active { outline: none !important; }
  a:focus { outline: none !important; }
  a:active { outline: none !important; } }
.fontPrimaryLight, .fontPrimaryLight * { font-family: primaryLight; font-weight: normal !important; font-style: normal; }

.fontPrimaryNormal, .fontPrimaryNormal * { font-family: primaryNormal; font-weight: normal !important; font-style: normal; }

.fontPrimaryBold, .fontPrimaryBold * { font-family: primaryBold; font-weight: normal !important; font-style: normal; }

.dividerLight { border-top: 1px solid #dfdfdf; border-top-color: #dfdfdf !important; }

.textNoDecoration { text-decoration: none !important; }

.fontNormal { font-weight: normal; }

.fontBold { font-weight: bold; }

.fontItalics { font-style: italic; }

html, body { font-size: 15px; }

.textExtraSmall { font-size: 12px; }

.textSmall { font-size: 13px; }

.textDefault { font-size: 15px; }

.textMedium { font-size: 14px; }

.textLarge { font-size: 15px; }

.textLarger { font-size: 18px; font-weight: normal; }

.textExtraLarge { font-size: 24px; font-weight: normal; }

.textXXL { font-size: 36px; font-weight: normal; }

.textXXXL { font-size: 62px; font-weight: normal; }

.link_notActive { pointer-events: none; cursor: default; text-decoration: none; }

.spanlink { text-decoration: underline; cursor: pointer; }

.spanlink:hover { text-decoration: none; cursor: pointer; }

@media (min-width: 499px) { html, body { font-size: 12px; }
  .textExtraSmall { font-size: 10px; }
  .textSmall { font-size: 11px; }
  .textDefault { font-size: 12px; }
  p.textLarge { margin: 18px 0 18px 0; } }
.noListIndent { padding-left: 1em; }

.listMargin li { margin-bottom: 5px; }

.textLarge .listMargin li { margin-bottom: 10px; }

.LSN.noListIndent { padding-left: 0; }

.listLineMargin li { margin-bottom: 0.3em; }

.listInline { padding-left: 0; }

.listInline li { float: left; padding-left: 2px; margin-left: 35px; margin-bottom: 0; }

.list-inline > li.divider { padding: 0 !important; }

ol.decimal { list-style: decimal; }

ol.upperAlpha li { list-style-type: upper-alpha; }

ol.lowerAlpha li { list-style-type: lower-alpha; }

ol.upperRoman li { list-style-type: upper-roman; }

ol.lowerRoman li { list-style-type: lower-roman; }

.hiLite { color: #ec6912; }

.hiLite1 { color: #3098bd; }

.hiLite2 { color: #6eae1a; }

.hiLite3 { color: #ff0000; }

.hiLite4 { color: #8E1C8E; }

.colorPrimaryDarker { color: #325B7D; }

.colorPrimaryDark { color: #4ca6c6; }

.colorNCGreen { color: #14AEA8; }

.colorPrimary { color: #378bb9; }

a.colorPrimary { color: #378bb9 !important; }

a.colorPrimary:hover { color: #378bb9 !important; }

a.colorPrimary:active { color: #378bb9 !important; }

.colorSuccess { color: #9ac843; }

a.colorSuccess { color: #9ac843 !important; }

a.colorSuccess:hover { color: #9ac843 !important; }

a.colorSuccess:active { color: #9ac843 !important; }

.colorWarning { color: #f09403; }

a.colorWarning { color: #f09403 !important; }

a.colorWarning:hover { color: #f09403 !important; }

a.colorWarning:active { color: #f09403 !important; }

.colorDanger { color: #cd0000; }

.colorDangerLight { color: #F56EA9; }

a.colorDanger { color: #cd0000 !important; }

a.colorDanger:hover { color: #cd0000 !important; }

a.colorDanger:active { color: #cd0000 !important; }

.colorGrayLight { color: #b4b4b4; }

.colorGray { color: #8d8d8d; }

.colorGrayDark { color: #737070; }

.colorGrayDarker { color: #303030; }

.colorWhite { color: #fff; }

.bgPrimary { background-color: #378bb9 !important; }

.bgPrimaryLight { background-color: #ebf3f8 !important; }

.bgPrimaryLightSM { background-color: #ebf3f8 !important; }

.bgWarning { background-color: #f09403 !important; }

.bgWarningLight { background-color: #fff2ef !important; }

.bgWarningLighter { background-color: #FDFFE9 !important; }

.bgSuccess { background-color: #9ac843 !important; }

.bgSuccessLighter { background-color: #e8f6e2 !important; }

.bgPrimary a { color: #fff; }

.bgAlternate { background-color: #f7f7f7 !important; }

.bgColor1 { background-color: #ebf3f8 !important; }

.bgColor2 { background-color: #ebf3f8 !important; }

.bgGrayLighter { background-color: #f1f1f1; }

.bgGrayLight { background-color: #b4b4b4; }

.bgGray { background-color: #8d8d8d; }

.bgGrayDarker { background-color: #303030; }

.bgWhite { background-color: #fff; }

.bgDanger { background-color: #cd0000; }

.shadowTop { -webkit-box-shadow: 0 20px 20px -20px #888 inset; -moz-box-shadow: 0 20px 20px -20px #888 inset; -ms-box-shadow: 0 20px 20px -20px #888 inset; box-shadow: 0 20px 20px -20px #888 inset; }

.shadowBorder { -webkit-box-shadow: 2px 2px 4px 2px #b4b4b4; -moz-box-shadow: 2px 2px 4px 2px #b4b4b4; -ms-box-shadow: 2px 2px 4px 2px #b4b4b4; box-shadow: 2px 2px 4px 2px #b4b4b4; }

@media (min-width: 499px) { .bgPrimaryLightSM { background-color: #fff !important; } }
.navbar { margin-bottom: 0; }

.navbar-default, .navbar-inverse { border: none; }

.navbar-nav > li { margin-bottom: 0; }

.navbar-default .navbar-collapse.in .navbar-nav > li > a { border-radius: 0; text-decoration: none; }

#SiteBnr .navbar-default .navbar-nav > li { padding-bottom: 0; padding-top: 0; border-bottom: 1px solid #5aa8d6; }

.dropdown-menu { border: 0; box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5); }

.dropdown-menu .dropSection { margin: 5px 20px 0 20px; border-bottom: 1px dotted #b4b4b4; padding-bottom: 15px; }

.dropdown-menu .dropSection:last-child { border-bottom: none; }

.dropdown-menu .dropSection h3 { font-size: 15px; color: #378bb9; font-family: primaryBold; margin-bottom: 10px; font-weight: normal; }

.dropdown-menu .dropSection ul { padding-left: 0; }

.dropdown-menu .dropSection li { list-style-type: none; padding-left: 0; margin-bottom: 3px; }

.dropdown-menu .dropSection li a { color: #737070; white-space: nowrap; text-decoration: none; border-bottom: 1px dotted #b4b4b4; }

.dropdown-menu .dropSection li a:hover { background-color: #fff; border-bottom: none; }

.dropdown-menu .dropSection li a:active { background-color: #fff; border-bottom: none; }

.dropdown-menu .dropSection li a:focus { background-color: #fff; border-bottom: none; }

.navbar-default .navbar-toggle { border: 0; }

.navbar-default .navbar-toggle:hover { background-color: transparent; }

.navbar-default .navbar-toggle:active { background-color: transparent; }

.navbar-default .navbar-toggle:focus { background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar { background-color: #303030; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #fff !important; background-color: #378bb9; }

#SiteBnr li.active a { color: #fff !important; background-color: #378bb9; }

.dropdown.open .dropdown-menu li { background-color: #fff; }

#SiteBnr { background-color: #ebf3f8; }

#SiteBnr .navbar-default .navbar-nav > li > a { font-family: primaryNormal; font-size: 24px; border-radius: 0; padding-bottom: 6px; padding-top: 12px; height: 38px; color: #303030; }

#BrandLogo { margin: 5px 0 0 5px; width: 67px; float: left; }

#signInBtns, .menuIcon { display: none; }

#WelcomeBack { float: right; width: 210px; height: 90px; padding: 14px 35px 0 10px; }

#WelcomeBack h6 { margin-bottom: 0; }

#WelcomeBack div { margin: 5px 0 5px 0; }

#WelcomeBack a { color: #378bb9; text-decoration: none; }

#WelcomeBack a:hover { color: #303030; text-decoration: none; }

.stickybanner { width: 100%; min-height: 70px; color: #fff; background-color: #9ac843; font-size: 24px; text-align: center; padding-top: 8px; padding-bottom: 8px; }

.stickybanner .btn { margin-left: 20px; margin-top: 10px; }

.sbnrDropContent { margin-bottom: 20px; }

@media (min-width: 499px) { #SiteBnr { height: 90px; }
  #SiteBnr .nav.navbar-nav { margin: 14px auto 0 auto; display: table; float: none; }
  #SiteBnr .navbar-default .navbar-nav > li { padding-left: 15px; padding-right: 15px; border-bottom: none; }
  #SiteBnr .navbar-default .navbar-nav > li:first-child { margin-left: 30px; }
  #SiteBnr .navbar-default .navbar-nav > li > a { padding: 0; font-size: 14px; background-color: transparent; text-align: center; height: auto; margin-bottom: 15px; }
  #SiteBnr .navbar-default .navbar-nav > li > a:hover { color: #378bb9; }
  #SiteBnr li.active a { color: #378bb9 !important; background-color: transparent; }
  #signInBtns { display: block; float: right; margin: 25px 35px 0 0; }
  #signInBtns.signinGrow { width: 240px; }
  #signInBtns .btn { border: 3px solid #ef9302; }
  #signInBtns .btn.btn-warning:hover { border-color: #d78403; color: #fff; background-color: #d78403; }
  #signInBtns .btn.btn-info { margin-left: 10px; background-color: transparent; }
  #signInBtns .btn.btn-info:hover { margin-left: 10px; color: #fff !important; background-color: #f09403; }
  #signInBtns.signinGrow .btn.btn-info { margin-left: 13px; }
  #signInBtns.signinGrow .btn.btn-info:hover { margin-left: 13px; }
  #signInBtns .btn-sm.btn-expand { font-size: 21px !important; padding: 10px 23px 9px 23px !important; margin-top: -8px; }
  #BrandLogo { width: 103px; margin: 15px 0 0 50px; }
  .menuIcon { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/sprites/navbar_icons5.png"); background-repeat: no-repeat; background-size: 96px 679px; height: 43px; width: 43px; margin: 0 auto 4px auto; display: block; }
  #menuIconBenefits { background-position: 0 0; }
  #SiteBnr a:hover #menuIconBenefits, #SiteBnr a:focus #menuIconBenefits, #SiteBnr a:active #menuIconBenefits, #SiteBnr li.active #menuIconBenefits { background-position: -53px 0; }
  #menuIconPrices { background-position: 0 -53px; }
  #SiteBnr a:hover #menuIconPrices, #SiteBnr a:focus #menuIconPrices, #SiteBnr a:active #menuIconPrices, #SiteBnr li.active #menuIconPrices { background-position: -53px -53px; }
  #menuIconDevices { background-position: 0 -106px; }
  #SiteBnr a:hover #menuIconDevices, #SiteBnr a:focus #menuIconDevices, #SiteBnr a:active #menuIconDevices, #SiteBnr li.active #menuIconDevices { background-position: -53px -106px; }
  #menuIconSuccesses { background-position: 0 -159px; }
  #SiteBnr a:hover #menuIconSuccesses, #SiteBnr a:focus #menuIconSuccesses, #SiteBnr a:active #menuIconSuccesses, #SiteBnr li.active #menuIconSuccesses { background-position: -53px -159px; }
  #menuIconAbout { background-position: 0 -212px; }
  #SiteBnr a:hover #menuIconAbout, #SiteBnr a:focus #menuIconAbout, #SiteBnr a:active #menuIconAbout, #SiteBnr li.active #menuIconAbout { background-position: -53px -212px; }
  #menuIconDiary { background-position: 0 -265px; }
  #SiteBnr a:hover #menuIconDiary, #SiteBnr a:focus #menuIconDiary, #SiteBnr a:active #menuIconDiary, #SiteBnr li.active #menuIconDiary { background-position: -53px -265px; }
  #menuIconProfile { background-position: 0 -318px; }
  #SiteBnr a:hover #menuIconProfile, #SiteBnr a:focus #menuIconProfile, #SiteBnr a:active #menuIconProfile, #SiteBnr li.active #menuIconProfile { background-position: -53px -318px; }
  #menuIconRecipes { background-position: 0 -372px; }
  #SiteBnr a:hover #menuIconRecipes, #SiteBnr a:focus #menuIconRecipes, #SiteBnr a:active #menuIconRecipes, #SiteBnr li.active #menuIconRecipes { background-position: -53px -372px; }
  #menuIconWeighIn { background-position: 0 -425px; }
  #SiteBnr a:hover #menuIconWeighIn, #SiteBnr a:focus #menuIconWeighIn, #SiteBnr a:active #menuIconWeighIn, #SiteBnr li.active #menuIconWeighIn { background-position: -53px -425px; }
  #menuIconForums { background-position: 0 -478px; }
  #SiteBnr a:hover #menuIconForums, #SiteBnr a:focus #menuIconForums, #SiteBnr a:active #menuIconForums, #SiteBnr li.active #menuIconForums { background-position: -53px -478px; }
  #menuIconResources { background-position: 0 -531px; }
  #SiteBnr a:hover #menuIconResources, #SiteBnr a:focus #menuIconResources, #SiteBnr a:active #menuIconResources, #SiteBnr li.active #menuIconResources { background-position: -53px -531px; }
  #menuIconSupport { background-position: 0 -585px; }
  #SiteBnr a:hover #menuIconSupport, #SiteBnr a:focus #menuIconSupport, #SiteBnr a:active #menuIconSupport, #SiteBnr li.active #menuIconSupport { background-position: -53px -585px; }
  #menuIconBlog { background-position: 0 -638px; }
  #SiteBnr a:hover #menuIconBlog, #SiteBnr a:focus #menuIconBlog, #SiteBnr a:active #menuIconBlog, #SiteBnr li.active #menuIconBlog { background-position: -53px -638px; }
  #signOutNav .dropdown-menu > li > a { font-size: 15px; padding: 0; }
  .menuIcon { height: 43px; width: 43px; margin: 0 auto 4px auto; float: none; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #378bb9 !important; }
  .stickybanner { min-width: 998px; font-size: 26px; padding-top: 16px; }
  .stickybanner .btn { margin-top: 0; }
  .navbar-default { background-color: transparent; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background-color: transparent; }
  .dropdown:hover .dropdown-menu { display: block; }
  .dropdown-menu li:first-child { margin-top: 6px; }
  .sbnrDropContent { height: 90px; margin-bottom: 40px; }
  .sbnrDropContent #stickySiteBnr #SiteBnr { background-color: #ebf3f8; } }
#SecondaryNav { padding-top: 10px; height: 40px; }

#SecondaryNav a { font-size: 11px; }

#SecondaryNav .LeftContent, #SecondaryNav .RightContent, #SecondaryNav .CenterContent { padding-bottom: 0 !important; }

#SecondaryNav .dropdown-menu { margin-top: 0; left: -3px; padding-top: 0; border-radius: 0 0 4px 4px; }

#SecondaryNav .dropdown-menu a { border-bottom: 0 !important; padding-left: 5px; padding-right: 5px; }

@media (min-width: 998px) { #stickySiteBnr { z-index: 999; position: fixed; top: 0; width: 100%; }
  #stickySiteBnr #SiteBnr { background-color: transparent; }
  .stickybanner { z-index: 999; position: fixed; top: 0; }
  .stickybanner_height { height: 70px; } }
@media (min-width: 1200px) { #WelcomeBack { width: 240px; } }
html, body { height: 100%; padding: 0; margin: 0; }

body { background: none; color: #303030; }

div#Container { max-width: 1349px; margin: 0 auto 0 auto; width: auto; position: relative; }

.contentPadding { padding: 20px; }

.indentSM { padding-left: 18px !important; padding-right: 18px !important; }

.paddingTopSM { padding-top: 18px !important; }

.indentSMpc { padding-left: 6% !important; padding-right: 6% !important; }

.contentStretch { max-width: 1349px; margin: 0 auto 0 auto; }

.contentFix { max-width: 998px; margin: 0 auto 0 auto; padding: 0 18px 0 18px; }

.LeftContent, .RightContent { display: none; }

.CenterContent { padding-bottom: 18px; }

.dottedLinks a { color: #8d8d8d; text-decoration: none; border-bottom: 1px dotted #8d8d8d; }

.dottedLinks a.active { font-weight: bold; color: #9ac843; border-bottom: 1px solid #fff; }

.dottedLinks a:hover { color: #8d8d8d; border-bottom: 1px solid #fff; }

.sectionUnderline { padding-bottom: 10px; margin-bottom: 18px; border-bottom: 1px solid #ccc; }

.noWrap { white-space: nowrap; }

.pull-left.pullMargin { margin-right: 5px; }

.pull-right.pullMargin { margin-left: 5px; }

.wrapMarginBottom { margin-bottom: 20px; }

.wrapButtonText { white-space: normal; width: 80%; }

.newBadge { background: url("/media/images/parts/new_badge.png") no-repeat left; padding: 30px 0 30px 115px; }

.headerBadge.sectionHeader { padding-bottom: 6px; }

.headerBadge .badgeContainer { float: left; padding: 0; margin: 0 10px 10px 0; width: 10%; max-width: 35px; }

.headerBadge h2 { float: left; margin-top: 4px; }

.contentStretch { max-width: 1349px; margin: 0 auto 0 auto; }

.contentFix { max-width: 998px; margin: 0 auto 0 auto; padding: 0 18px 0 18px; }

.contentCenterAlign, .contentCenterAlignSM { display: table; margin-left: auto; margin-right: auto; padding-left: 9px; padding-right: 9px; float: none !important; }

.LSN li { list-style: none; }

.contentBar { padding: 8px 0 8px 0; height: 44px; }

.clrFlt { clear: both; }

.button { cursor: pointer; }

.imgFloatLeft { float: left; margin: 0 10px 5px 0; max-width: 50%; }

.imgFloatRight { float: right; margin: 0 0 5px 10px; max-width: 50%; }

.sidePanelHolder { margin-bottom: 18px; }

.errorpages { padding: 10px 0 0 40px; }

#stagedCalorieTargets { display: table; }

div.toolTip { border: 1px solid #888888; background-color: #ffffcc; position: absolute; padding: 10px; display: none; z-index: 9999; border-radius: 4px; box-shadow: 0 1px 2px #888888; }

div.toolTip ul, div.toolTip ol { margin: 10px 0 10px 20px; }

div.toolTip li { padding-bottom: 5px; }

.quickOpen { clear: both; border-bottom: 1px solid #ebf3f8; display: block; padding: 6px 4px 6px 0; }

.vMargin { margin-top: 20px; margin-bottom: 20px; }

table.tdAlignMiddle td { vertical-align: middle !important; }

.dragHandleIcon { height: 25px; width: 29px; padding-left: 4px; padding-right: 4px; }

.dragHandleIcon div { border-top: 3px solid #b4b4b4; margin-bottom: 4px; }

.dragHandleIcon div:last-child { margin-bottom: 0; }

.showElementBlock { display: block; }

.hideElement { display: none; }

#Footer { margin: 0 auto 0 auto; padding: 35px 9px 18px 9px; }

#Footer #followUsIcons { display: table; margin: 0 auto 0 auto; }

#Footer #followUsIcons img { margin-right: 7px; }

#Footer #footerLinks { margin-top: 25px; margin-bottom: 5px; text-align: center; }

#Footer #footerLinks li { font-size: 12px; line-height: normal; }

#Footer .rtHdr { text-align: center; }

@media (min-width: 499px) { .errorpages { padding: 40px 0 0 18px; }
  div#Container { min-width: 998px; }
  .contentStretch { min-width: 998px; }
  .LeftContent, .RightContent { display: block; float: left; padding-bottom: 18px; }
  .CenterContent { float: left; padding: 0 18px 18px 18px; }
  .contentFix .LeftContent, .contentFix .RightContent { width: 178px; }
  .contentFix .CenterContent { width: 606px; }
  .contentStretch .LeftContent, .contentStretch .RightContent { min-width: 196px; width: 19.6%; }
  .contentStretch .LeftContent { padding-left: 18px; }
  .contentStretch .RightContent { padding-right: 18px; }
  .contentStretch .CenterContent { min-width: 606px; width: 60.2%; }
  .indentSM { padding-left: 0 !important; padding-right: 0 !important; }
  .paddingTopSM { padding-top: 0 !important; }
  .indentSMpc { padding-left: 0 !important; padding-right: 0 !important; }
  .wrapMarginBottom { margin-bottom: 0px; }
  .wrapButtonText { white-space: nowrap; width: auto; }
  .headerBadge .badgeContainer { width: 93px; margin: 0 18px 18px 0; max-width: none; }
  .headerBadge h2 { float: left; margin-top: 26px; }
  .headerBadge.sectionHeader { padding-bottom: 0; }
  .headerBadge.sectionHeader h2 { margin-top: 0; }
  .contentPadding { padding: 40px; }
  .contentCenterAlign { margin-left: auto; margin-right: auto; }
  .contentCenterAlignSM { margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  .imgFloatRight, .imgFloatLeft { max-width: none; }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
  input[type="number"] { -moz-appearance: textfield; }
  .vMargin { margin-top: 40px; margin-bottom: 40px; }
  #Footer { margin: 0 auto 0 auto; padding: 35px 50px 13px 50px; }
  #Footer a:active, #Footer a:focus { color: #f09403; }
  #Footer #eCommerceAwards { padding: 4px 0 0 20px; float: left; }
  #Footer #eCommerceAwardsIcon { float: left; }
  #Footer #followUsIcons { margin: 0; display: block; }
  #Footer .rtHdr { text-align: right; }
  #Footer #footerLinks { text-align: left; } }
@media (min-width: 1200px) { .contentStretch .CenterContent { width: 64%; }
  .contentStretch .LeftContent, .contentStretch .RightContent { width: 18%; } }
_:-ms-lang(x), .hiddenIE10 { display: none\9; }

_:-ms-fullscreen, :root .hiddenIE11 { display: none; }

.nut_altDisplay { display: none; }

.nut_iconList { list-style: none; padding-left: 0; }

.nut_sidecontentpadding .nut_iconList, .nut_sidecontent .nut_iconList { margin-bottom: 0 !important; }

.nut_iconList li { background: no-repeat; background-position: left center; padding-left: 18%; background-size: 23px 23px; }

.nut_iconList.large li { background-size: 35px 35px; min-height: 35px; }

.nut_iconList li a { border-bottom: 1px solid #ebf3f8; text-decoration: none; }

.nut_iconList li a:hover { text-decoration: underline; }

.nut_iconList li .quickOpen a, .nut_iconList li:last-child a, .nut_iconList li:last-child .quickOpen { border-bottom: 0; }

.nut_iconList li.panel { background-position: left top; }

.nut_iconList.large li { padding: 2px 0 2px 40px; margin-bottom: 18px; }

.nut_iconList li.textLarger, .nut_iconList li.textExtraLarge { padding: 14px 0 14px 80px; margin-bottom: 18px; }

.nut_iconList.large li:last-child { margin-bottom: 0 !important; }

.nut_arrowList li { background: url("/media/images/parts/arrow_black_right.gif") no-repeat left; padding-left: 14px; }

.nut_btnDisabled { pointer-events: none; cursor: default; text-decoration: none; opacity: 0.4; }

.nut_dropdownlist button { text-align: left; }

.nut_dropdownlist.btn-group, .nut_dropdownlist .dropdown-menu { width: 100%; background-color: #ececec !important; border-radius: 8px; }

.nut_dropdownlist .dropdown-toggle::after { display: none; }

.nut_dropdownlist .fa-angle-down, .nut_dropdownlist .fa-angle-right { font-size: 20px; color: #14AEA8; position: absolute; right: 10px; }

.nut_dropdownlist .dropdown-item { text-decoration: none; border-bottom: 1px solid #fff; background-color: #ececec !important; font-size: 16px; padding-top: 12px; padding-bottom: 12px; }

.nut_dropdownlist .dropdown-item:active, .nut_dropdownlist .dropdown-item:hover { color: #378bb9 !important; }

.nut_dropdownlist .dropdown-item:last-child { border-bottom: none; }

.nut_dropdownlist .selectedText { font-weight: 500; color: #000; }

.nut_formcontrols ::placeholder { color: #378bb9 !important; text-align: center; }

.nut_formcontrols .form-control { background-color: #eee !important; color: #000; }

.nut_formcontrols .form-group { margin-top: 1rem; }

.nut_formcontrols .form-control { border-color: #eee; border-radius: 8px; }

.nut_attachFile input { color: transparent; background: transparent; position: absolute; width: 0px; }

.nut_attachFile span { display: block; cursor: pointer; }

.nut_attachFile::-webkit-file-upload-button { visibility: hidden; }

.nut_attachFile::before { content: ''; }

.nut_arrowLink { padding: 6px 8px 6px 0; display: block; }

.nut_arrowLink.last { border-bottom: none; }

.nut_arrowLink:hover { text-decoration: underline; }

.nut_blockLink { display: block; border-bottom: 1px solid #e5e5e5; text-decoration: none; }

li:last-child .nut_blockLink { border-bottom: 0; }

.nut_blockLink:hover { text-decoration: underline; }

.nut_inlineLinks li { display: inline; margin-right: 2px; }

.nut_textSearch { height: 23px; }

.nut_textSearchHolder .nut_textInput { padding-left: 4px; border: 0; margin: 0; color: #606060; width: 100%; background-color: #ffffff; border-radius: 4px; font-size: 12px; height: 23px; }

.nut_searchInput { border: 0; padding: 0 0 0 20px; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/icons/search_sml.gif") no-repeat 4px 6px; color: #606060; background-color: #ffffff; border-radius: 4px; font-size: 12px; height: 23px; }

.sidePanel .nut_searchInput, .nut_sidepanel .nut_searchInput { width: 113px; }

.nut_submit { cursor: pointer; color: #fff; font-weight: bold; border: 0; padding-bottom: 2px; background-color: #9ac843; border-radius: 4px; min-height: 23px; min-width: 29px; padding-left: 6px; padding-right: 6px; }

.nut_submit:hover { background-color: #73B001; }

.nut_textSearchHolder .nut_submit { border-radius: 0 4px 4px 0; float: right; line-height: normal; font-size: 12px; }

.nut_textInputHolder { margin-right: 29px; }

.nut_textSearchHolder { background-color: #f1f6fa; padding: 6px; }

.nut_textSearchHolder .nut_searchInput { border-radius: 4px 0 0 4px; width: 100%; }

.nut_textSearchHolderLarge button { border: none; border-radius: 0 6px 6px 0; width: 90px; float: right; height: 74px; padding: 6px 0 0 15px; }

.nut_textSearchHolderLarge button.bgPrimary:hover, .nut_textSearchHolderLarge button.bgPrimary:focus, .nut_textSearchHolderLarge button.bgPrimary:active { background-color: #0d7cb9 !important; }

.nut_textSearchHolderLarge .nut_textInputHolderLarge { margin-right: 90px; }

.nut_textSearchHolderLarge .nut_searchInputLarge { font-size: 26px; padding: 20px; border: 1px solid #393939; border-radius: 6px 0 0 6px; border-right: none; width: 100%; }

.nut_textSearchHolderMedium button { border: none; border-radius: 0 6px 6px 0; width: 50px; float: right; height: 48px; padding: 4px 4px 4px 8px; }

.nut_textSearchHolderMedium button.bgPrimary:hover, .nut_textSearchHolderMedium button.bgPrimary:focus, .nut_textSearchHolderMedium button.bgPrimary:active { background-color: #0d7cb9 !important; }

.nut_textSearchHolderMedium .nut_textInputHolderMedium { margin-right: 50px; }

.nut_textSearchHolderMedium .nut_searchInputMedium { font-size: 16px; padding: 13px 10px 13px 10px; border: 1px solid #393939; border-radius: 6px 0 0 6px; border-right: none; width: 100%; }

.sidePanel .nut_textSearchHolder, .nut_sidepanel .nut_textSearchHolder { background-color: #F0F0F0; padding: 6px 0 6px 6px; margin: 0 1px 2px 1px; }

.nut_panel { margin-bottom: 18px; padding-top: 18px; }

.nut_panel:last-child { margin-bottom: 0; }

.nut_stndInput { border: 0; color: #606060; background-color: #ffffff; border-radius: 4px; font-size: 12px; height: 23px; }

.nut_optionBox { float: left; border: 1px solid #ccc; border-radius: 2px; height: 32px; width: 32px; margin-right: 15px; cursor: pointer; }

.nut_optionRow { clear: both; padding-bottom: 18px; }

.nut_optionRow > label { float: left; color: #f09403; font-size: 18px; line-height: normal; max-width: 85%; }

.nut_tickOptions label > .description { font-size: 12px; color: #8d8d8d; }

.nut_flash { background-color: #DC091D; color: #ffffff; padding: 2px 6px 2px 6px; border-radius: 6px; margin-left: 6px; text-align: center; text-decoration: none; display: inline-block; min-width: 20px; }

.nut_flash.marginright { margin-left: 0; margin-right: 6px; }

.nut_border { border: 1px solid #cccccc; border-radius: 6px; }

.nut_borderradius { border-radius: 6px; }

.nut_fullWidthPanelSM .nut_border { border-left: 0; border-right: 0; border-radius: 0; }

.nut_borderTopLess { border-top: 0; border-radius: 0 0 6px 6px; padding-top: 10px; margin-bottom: 18px; }

.nut_colorhdr { min-height: 31px; border-radius: 6px 6px 0 0; }

.nut_colorhdr h2 { text-align: center; color: #fff; line-height: 31px; font-family: primaryNormal; font-size: 18px; margin-bottom: 0; }

.nut_colorhdr h2.text-left { text-align: left; padding-left: 18px; }

.nut_colorhdr.blue { background-color: #3197BD; }

.nut_colorhdr.blue h2 { color: #CDF0FD; }

.nut_colorhdr.addEnergyIn { background: #c5a338; background: linear-gradient(90deg, #c5a338 0%, #1b87ac 0%, #12b9a7 100%); }

.nut_colorhdr.addEnergyOut { background: #b765af; background: linear-gradient(90deg, #b765af 0%, #b765af 34%, #cb3c7a 100%); }

.nut_colorhdr.diarySummary { background: #12b7a8; background: linear-gradient(90deg, #12b7a8 0%, #12b7a8 52%, #0a7ea4 100%); }

.nut_colorhdr.myMeals { background: #cc7208; background: linear-gradient(90deg, #cc7208 0%, #cc7208 0%, #f09403 40%); }

.nut_colorhdr.membersRecipes { background: #95b826; background: linear-gradient(90deg, #95b826 0%, #95b826 52%, #73a852 100%); }

.nut_colorhdr.profileSucceed { background: #c5a338; background: linear-gradient(90deg, #c5a338 0%, #1b87ac 0%, #12b9a7 100%); }

.nut_colorhdr.weighIn { background: #95b826; background: linear-gradient(90deg, #95b826 0%, #95b826 52%, #73a852 100%); }

.nut_btnshadow { -webkit-box-shadow: 1px 2px 3px -2px #000000 !important; box-shadow: 1px 2px 3px -2px #000000 !important; padding-left: 18px !important; padding-right: 18px !important; font-family: Arial !important; }

.nut_btnshadow.btn-warning, .nut_btnshadow.btn-warning:hover, .btn-warning.nut_btnshadow:focus, .nut_btnshadow.btn-warning:active { background-color: #ee8632 !important; -webkit-box-shadow: 1px 2px 3px -2px #000000 !important; box-shadow: 1px 2px 3px -2px #000000 !important; padding-left: 18px !important; padding-right: 18px !important; }

@media (min-width: 499px) { .nut_panel { padding: 18px; border-radius: 6px; background-color: #ffffff; border: 1px solid #cccccc; position: relative; }
  .nut_panel.nut_panel_indent { padding-left: 2px; padding-right: 2px; }
  .nut_indentLeft { margin-left: 18px; }
  .nut_indentRight { margin-right: 18px; }
  .nut_panel_indent .nut_indentRight { margin-right: 16px; }
  .nut_panel_indent .nut_indentLeft { margin-right: 16px; }
  .nut_fullWidthPanelSM .nut_border { border: 1px solid #cccccc; border-radius: 6px; }
  .nut_dropdownlist .dropdown-item { font-size: 14px; padding-top: 4px; padding-bottom: 4px; } }
.nut_panelThickWarning { padding: 18px; border-radius: 10px; border: 4px solid #f09403; }

.nut_panel_height { min-height: 451px; }

.nut_sidepanel { margin-bottom: 18px; border-radius: 6px; background-color: #ffffff; border: 1px solid #cccccc; }

.nut_sidepanel:last-child { margin-bottom: 0; }

.nut_margin { margin-bottom: 18px; }

.nut_marginTop { margin-top: 18px; }

.nut_nopadding { padding: 0 !important; }

.nut_padding { padding: 18px; }

.nut_nomargin { margin: 0 !important; }

.nut_noborder { border: none !important; }

.nut_sidepanel h2 { font-size: 20px; margin-bottom: 18px; }

.nut_sidepanel h3 { margin-bottom: 6px; }

.nut_panelcolorTop { border-top: none; }

.nut_panelcolorTop h2 { text-align: center; border-radius: 6px 6px 0 0; padding: 2px 0 2px 0; margin-bottom: 0; margin-left: -1px; width: 100%; padding-right: 2px; }

.nut_sidecontent { padding: 7px 3% 5px 3%; }

.nut_sidecontentpadding { padding: 7px 12px 5px 12px; }

.nut_panelBlue { background-color: #ebf3f8; margin-bottom: 18px; position: relative; }

.nut_panelBlue:last-child { margin-bottom: 0; }

.nut_fullWidthPanelSM .nut_panelBlue, .nut_padding-xs { padding: 18px; border-radius: 6px; }

.nut_spinner, .nut_spinner.appWebView { width: 40px; margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%); z-index: 999; }

@media (min-width: 499px) { .nut_spinner { margin-top: 40px; top: 0; }
  .nut_panelBlue { padding: 18px; border-radius: 6px; }
  .nut_panelBlue .table { margin-bottom: 0; }
  .nut_padding-xs { padding: 0; border-radius: 0; }
  .nut_panelBlue.nut_padding-xs { padding: 18px; border-radius: 6px; }
  .nut_content_height { min-height: 482px; } }
.nut_sidecontentpadding .nut_panelBlue { padding: 10px 5px 10px 10px; }

.nut_visIconGroup { float: right; margin-left: 0; }

.nut_visIcon { margin: 0 2px; float: left; height: 15px; width: 15px; background-position: 0 15px; display: block; }

.nut_visIcon:hover { background-position: 0 30px; }

.nut_visIcon.selected { background-position: 0 0; cursor: default; }

.nut_visIcon.nut_picIcon { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/vis_pics.gif"); }

.nut_visIcon.nut_thumbIcon { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/vis_thumbs.gif"); }

.nut_visIcon.nut_listIcon { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/vis_text.gif"); }

.nut_visIcon.nut_picIconOrange, .recipeIngredientSearch .nut_visIcon.nut_picIcon { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/vis_pics_o.gif"); }

.nut_visIcon.nut_thumbIconOrange, .recipeIngredientSearch .nut_visIcon.nut_thumbIcon { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/vis_thumbs_o.gif"); }

.nut_visIcon.nut_listIconOrange, .recipeIngredientSearch .nut_visIcon.nut_listIcon { background-image: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/vis_text_o.gif"); }

.nut_tagTip { background: #fff; border: 1px solid #c7c7c7; color: #505050; padding: 2px; width: 135px; text-align: center; z-index: 999; position: relative; }

.nut_tagTip #point { width: 19px; height: 10px; background: url("//d2lhwe7okuon6r.cloudfront.net/media/images/parts/tagtip_point.gif") no-repeat; position: absolute; top: -10px; left: 50px; }

.nut_tagTip .content { padding: 2px 2px 0px 2px; }

.nut_tagTip .title { padding: 2px; background: #e6e6e6; }

.nut_bubble { border: 2px solid #378bb9; padding: 18px; border-radius: 6px; position: relative; background-color: #fff; }

.nut_bubble:before { content: ''; position: absolute; width: 0; height: 0; left: 30px; bottom: -34px; border: 17px solid; border-color: #378bb9 transparent transparent #378bb9; }

.nut_bubble:after { content: ''; position: absolute; width: 0; height: 0; left: 32px; bottom: -30px; border: 15px solid; border-color: #fff transparent transparent #fff; }

.nutf_switch { display: inline-block; cursor: pointer; -webkit-tap-highlight-color: transparent; }

.nutf_switch span { position: relative; display: inline-block; margin-right: .5rem; width: 50px; height: 30px; background-color: #dbdbdb; border-radius: 26px; vertical-align: text-bottom; transition: all 0.3s linear; }

.nutf_switch span::before { content: ""; position: absolute; left: 0; width: 46px; height: 26px; background-color: #c4c4c4; border-radius: 14px; transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1); transition: all 0.25s linear; }

.nutf_switch span::after { content: ""; position: absolute; left: 0; width: 26px; height: 26px; background-color: #fff; border-radius: 14px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24); transform: translate3d(2px, 2px, 0); transition: all 0.2s ease-in-out; }

.nutf_switch:active span::after { width: 28px; transform: translate3d(2px, 2px, 0); }

.nutf_switch:active input:checked + span::after { transform: translate3d(16px, 2px, 0); }

.nutf_switch input { display: none; }

.nutf_switch input:checked + span { background-color: #11B6A8; }

.nutf_switch input:checked + span::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.nutf_switch input:checked + span::after { transform: translate3d(22px, 2px, 0); }

.nutf_switch.nutf_switchdisabled span::after { background-color: #8d8d8d; }

.nutf_spanlink { cursor: pointer; }

.displayMediaPrint { display: none; }

@media (max-width: 499px) { .nut_indent_sm { padding: 0 9px 0 9px; }
  .nut_noborder_sm { border: 0; border-radius: 0; } }
@media (min-width: 1200px) { .nut_sidecontent { padding: 7px 7.5% 5px 7.5%; } }
.navbar-default { background-color: transparent; }

#Searching_Modal .modal-sm { margin: 20% 42% 0 42%; text-align: center; width: auto; }

#Searching_Modal .modal-sm img { width: 100%; max-width: 60px; }

#Searching_Modal .modal-content { box-shadow: none; }

.modal-content p, .modal-content li, .modal-content td { color: #737070; }

.popover { max-width: 600px; }

.popover-content { padding: 4px 8px; }

.popover-title { padding: 4px 8px; }

@media (min-width: 330px) { .modal-dialog.modal-sm { width: 270px; }
  .modal-dialog.modal-yesno { width: 310px; } }
@media (min-width: 540px) { .modal-dialog { width: 480px; } }
@media (min-width: 660px) { .modal-lg { width: 600px; } }
.modal-header.empty-header { border-bottom: none; }

a { color: inherit; }

a:hover { color: inherit; }

.btn { border-radius: 60px; font-size: 18px; padding: 7px 14px 5px 14px; font-style: normal; font-weight: normal !important; font-family: primaryBold; letter-spacing: 0.5px; }

.btn.btn-lg { font-size: 20px; padding: 9px 18px 9px 18px; font-weight: bold !important; font-family: primaryLight; letter-spacing: normal; }

.nut_accordion .ui-accordion-header { color: #378bb9; background: #fff; border: none; text-decoration: underline; padding-left: 36px; }

.nut_accordion .ui-accordion-header:hover { text-decoration: none; }

.nut_accordion .ui-accordion-header-active { padding-left: 39px; color: #f09403; font-size: 18px; font-family: primaryBold; text-decoration: none; margin-top: 14px; }

.nut_accordion .ui-accordion-content { border: none; }

.nut_accordion .ui-accordion-header-active, .nut_accordion .ui-accordion-content-active { background: #ebf3f8; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon { position: absolute; left: 0.5em; top: 50%; margin-top: -8px; }

#settingsAccordion .ui-accordion-header { font-size: 13.2px; }

#settingsAccordion .ui-accordion-header.ui-accordion-header-active { font-size: 18px; }

.ui-accordion-content .btn { font-family: primaryBold !important; }

.ui-datepicker-buttonpane button { font-size: 11px; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial, Helvetica, sans-serif; }

.ui-widget .btn { font-size: 14px; }

.ui-widget button.textSmall { font-size: 11px; }

.ui-widget { font-family: Arial,Helvetica,sans-serif; }

/*
.ui-accordion .ui-accordion-content{background-color:#ebf3f8;padding:10px;}
.ui-widget-content{background-color:#ebf3f8;background-image:none;border: 1px solid #ccc;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border: 1px solid #ccc;background-color:#378bb9;background-image:none;color:#fff;}
.ui-widget button{font-family:primaryBold;}
*/
.text-right-large { text-align: left; }

.text-center-xs { text-align: center; }

.form-control { z-index: 2; position: relative; font-size: 16px; min-height: 38px; }

@media (min-width: 499px) { .btn.btn-lg { font-size: 30px; padding: 17px 20px 17px 20px; font-weight: normal !important; }
  .btn:focus, .close, .active { outline: none !important; }
  .modal-body ol, .modal-body ul { padding-left: 15px; }
  .modal-body li { margin-bottom: 8px; }
  .modal-topmargin { margin-top: 170px; }
  .modal-alignment-helper { display: table; height: 100%; width: 100%; pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */ }
  .modal-vertical-align { display: table-cell; vertical-align: middle; pointer-events: none; }
  .modal-vertical-align .modal-content { width: inherit; height: inherit; margin: 0 auto; pointer-events: all; }
  .form-horizontal-sm .form-group { margin-bottom: 8px; }
  .nut_accordion .ui-accordion .ui-accordion-content { padding: 18px; }
  .nut_accordion .ui-accordion .ui-accordion-icons { padding-left: 18px; }
  .nut_accordion .ui-accordion .ui-accordion-header .ui-accordion-header-icon { left: 2px; }
  .nut_accordion .ui-accordion-header:focus { outline: none !important; }
  .ui-helper-reset { margin-bottom: 18px; }
  .ui-helper-reset:last-child { margin-bottom: 0; }
  .form-inline .form-control { margin-right: 10px; }
  .text-right-large { text-align: right; }
  .text-center-xs { text-align: left; }
  .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { margin-top: 0; }
  .form-control { font-size: 12px; min-height: 0; }
  .input-lg { font-size: 15px; }
  .pull-right-lg { float: right; }
  .pull-left-lg { float: left; } }
a { color: inherit; }

a:hover { color: inherit; }

.btn.btn-sm, .btn-group-sm > .btn { font-size: 14px; padding: 4px 12px 3px 12px; }

.btn.btn-xs { border-radius: 10px; }

.btn.btn-xs, .btn-group-xs > .btn { font-size: 10px; padding: 3px 5px 1px 5px; }

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { background-color: #8d8d8d !important; }

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background-color: #378bb9 !important; }

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success { background-color: #73b001 !important; }

.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning { background-color: #e47000 !important; }

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info { background-color: #d0ecfb; }

.btn-info.colorSuccess:hover, .btn-info.colorSuccess:focus, .btn-info.colorSuccess.focus, .btn-info.colorSuccess:active, .btn-info.colorSuccess.active, .open > .dropdown-toggle.colorSuccess.btn-info { background-color: #e8f5d0; }

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger { background-color: #cb070c; }

.btn-group .btn { border-radius: 3px; font-size: 12px; font-family: Arial,Helvetica,sans-serif; font-weight: bold !important; padding: 7px 12px 5px 12px; }

.btn-group .btn-primary { border-right-color: #fff !important; border-left-color: #fff !important; }

.btn-group .btn-primary:first-child { border-left-color: #378bb9 !important; }

.btn-group .btn-primary:last-child { border-right-color: #378bb9 !important; }

.btn-uppercase { text-transform: uppercase; }

.btn-lowercase { text-transform: lowercase; }

.active { cursor: default; }

.close { opacity: 1; }

.form-control { padding-left: 5px; padding-right: 5px; }

.form-control.input-lg { padding-left: 14px; padding-right: 14px; }

.form-horizontal .control-label { text-align: left; color: #378bb9; }

.form-horizontal .control-label.colorGrayDarker { color: #303030; }

.form-horizontal .control-label.text-right { text-align: right; }

.table.table-noborder > thead > tr > th, .table.table-noborder > tbody > tr > th, .table.table-noborder > tfoot > tr > th, .table.table-noborder > thead > tr > td, .table.table-noborder > tbody > tr > td, .table.table-noborder > tfoot > tr > td { border: none; }

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td { border: 1px solid #dfdfdf; }

hr { border-top-color: #ababab; }

input.parsley-error, select.parsley-error, textarea.parsley-error { border: 1px solid #cd0000; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 0, 0, 0.6); }

input.parsley-error:focus, select.parsley-error:focus, textarea.parsley-error:focus { border: 1px solid #cd0000; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 0, 0, 0.6); }

.parsley-errors-list { display: none; }

.rowPaddingFix { padding-left: 9px; padding-right: 9px; }

.visible-xl-inline { display: none; }

@media (min-width: 1300px) { .hidden-xl { display: none; }
  .visible-xl-inline { display: inline; } }
textarea:focus, select:focus, .form-control:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: rgba(20, 174, 168, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(20, 174, 168, 0.6); }

input:focus, textarea:focus, select:focus { outline: none; }
